In [57]:
import pandas as pd
import numpy as np

In [58]:
influencer_data = pd.read_csv('influencer_dataset_extended.csv')

In [59]:
brand_data = pd.read_csv('brand_dataset_extended.csv')

In [60]:
merged_dataset = pd.read_csv("final_merged.csv")

In [61]:
merged_dataset

,Unnamed: 0,id,brand_name,Product_category,target_age,target_gender,target_location,Influencer_name,Handle,Followers,...,Likes,Category,Sentiment,audience_location,audience_age,audience_Gender,Platform,Engagement_rate,Interaction,Tags
0,0,1,Brand72,Nutrition Products,15-24,Female,Kerala,Jane Doe,@emma.t,340770,...,31587,"nutrition, products",Positive,kerala,"15, 24",male,tiktok,9.269302,1,"nutrition, products, kerala, 15, 24, male, tiktok"
1,1,2,Brand88,Smartphones,All,Male,Gujarat,Mia Lee,@jane.doe,702603,...,49725,smartphones,Positive,gujarat,NaN,NaN,twitter,7.077254,1,"smartphones, gujarat, , , twitter"
2,2,3,Brand55,Home Appliances,18-30,Male,Kerala,John Smith,@noah.d,113855,...,41587,"home, appliances",Positive,kerala,"18, 30",male,instagram,36.526283,1,"home, appliances, kerala, 18, 30, male, instagram"
3,3,4,Brand84,Gadgets,15-24,Male,Kerala,Emma Taylor,@jane.doe,202147,...,8042,gadgets,Negative,kerala,"15, 24",NaN,facebook,3.978293,0,"gadgets, kerala, 15, 24, , facebook"
4,4,5,Brand43,Home Appliances,40-50,All,Tamil Nadu,Mason White,@john.smith,495171,...,30531,"home, appliances",Negative,"tamil, nadu","40, 50",female,instagram,6.165749,1,"home, appliances, tamil, nadu, 40, 50, female,..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,595,596,Brand8,Travel Services,18-30,All,Tamil Nadu,Mason White,@olivia.c,628311,...,49297,"travel, services",Positive,"tamil, nadu","18, 30",NaN,facebook,7.845955,1,"travel, services, tamil, nadu, 18, 30, , facebook"
596,596,597,Brand80,Pet Supplies,30-45,Female,Madhya Pradesh,John Smith,@sophia.w,261141,...,10765,"pet, supplies",Positive,"madhya, pradesh","30, 45",male,instagram,4.122294,0,"pet, supplies, madhya, pradesh, 30, 45, male, ..."
597,597,598,Brand29,Eco-friendly Goods,18-25,All,Goa,Emma Taylor,@john.smith,822197,...,41596,"eco, friendly, goods",Negative,goa,"18, 25",male,instagram,5.059128,1,"eco, friendly, goods, goa, 18, 25, male, insta..."
598,598,599,Brand7,Gaming Products,25-40,All,Rajasthan,Olivia Clark,@mason.w,783527,...,7200,"gaming, products",Positive,rajasthan,"25, 40",female,instagram,0.918922,0,"gaming, products, rajasthan, 25, 40, female, i..."
599,599,600,Brand89,Fitness Equipment,22-40,All,Tamil Nadu,Isabella Moore,@isabella.m,370575,...,28219,"fitness, equipment",Negative,"tamil, nadu","22, 40",NaN,tiktok,7.614923,1,"fitness, equipment, tamil, nadu, 22, 40, , tiktok"

Creating new column for rating

In [62]:
import random
merged_dataset = pd.DataFrame(merged_dataset)

In [63]:
merged_dataset.drop(columns=['Handle','Posts','Sentiment','Engagement_rate','Likes','Interaction'])

,Unnamed: 0,id,brand_name,Product_category,target_age,target_gender,target_location,Influencer_name,Followers,Category,audience_location,audience_age,audience_Gender,Platform,Tags
0,0,1,Brand72,Nutrition Products,15-24,Female,Kerala,Jane Doe,340770,"nutrition, products",kerala,"15, 24",male,tiktok,"nutrition, products, kerala, 15, 24, male, tiktok"
1,1,2,Brand88,Smartphones,All,Male,Gujarat,Mia Lee,702603,smartphones,gujarat,NaN,NaN,twitter,"smartphones, gujarat, , , twitter"
2,2,3,Brand55,Home Appliances,18-30,Male,Kerala,John Smith,113855,"home, appliances",kerala,"18, 30",male,instagram,"home, appliances, kerala, 18, 30, male, instagram"
3,3,4,Brand84,Gadgets,15-24,Male,Kerala,Emma Taylor,202147,gadgets,kerala,"15, 24",NaN,facebook,"gadgets, kerala, 15, 24, , facebook"
4,4,5,Brand43,Home Appliances,40-50,All,Tamil Nadu,Mason White,495171,"home, appliances","tamil, nadu","40, 50",female,instagram,"home, appliances, tamil, nadu, 40, 50, female,..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,595,596,Brand8,Travel Services,18-30,All,Tamil Nadu,Mason White,628311,"travel, services","tamil, nadu","18, 30",NaN,facebook,"travel, services, tamil, nadu, 18, 30, , facebook"
596,596,597,Brand80,Pet Supplies,30-45,Female,Madhya Pradesh,John Smith,261141,"pet, supplies","madhya, pradesh","30, 45",male,instagram,"pet, supplies, madhya, pradesh, 30, 45, male, ..."
597,597,598,Brand29,Eco-friendly Goods,18-25,All,Goa,Emma Taylor,822197,"eco, friendly, goods",goa,"18, 25",male,instagram,"eco, friendly, goods, goa, 18, 25, male, insta..."
598,598,599,Brand7,Gaming Products,25-40,All,Rajasthan,Olivia Clark,783527,"gaming, products",rajasthan,"25, 40",female,instagram,"gaming, products, rajasthan, 25, 40, female, i..."
599,599,600,Brand89,Fitness Equipment,22-40,All,Tamil Nadu,Isabella Moore,370575,"fitness, equipment","tamil, nadu","22, 40",NaN,tiktok,"fitness, equipment, tamil, nadu, 22, 40, , tiktok"

In [64]:
merged_dataset['rating'] = np.random.randint(1, 6, size=len(merged_dataset))

In [65]:
merged_rating = merged_dataset

In [66]:
merged_rating['rating'].head(5) #merged_rating is our dataset

0    4
1    5
2    5
3    2
4    2
Name: rating, dtype: int32

Create matrix based on rating

In [67]:
# Create rating matrix based on the new rating column
rating_data = pd.pivot_table(
    merged_rating,
    index='brand_name',
    columns='Influencer_name',
    values='rating',
    fill_value=0
)

# Preview the interaction matrix
print(rating_data)

Influencer_name  Emma Taylor  Isabella Moore  Jane Doe  John Smith  \
brand_name
Brand1              0.000000             0.0  0.000000        3.00
Brand10             0.000000             4.0  0.000000        4.00
Brand100            0.000000             1.0  2.000000        3.00
Brand11             2.000000             0.0  2.333333        0.00
Brand12             0.000000             0.0  0.000000        2.00
...                      ...             ...       ...         ...
Brand95             0.000000             3.0  2.000000        2.75
Brand96             0.000000             0.0  1.000000        5.00
Brand97             2.666667             0.0  2.500000        4.00
Brand98             1.000000             0.0  3.250000        0.00
Brand99             0.000000             0.0  0.000000        4.00

Influencer_name  Liam Brown  Mason White  Mia Lee  Noah Davis  Olivia Clark  \
brand_name
Brand1                  0.0          0.0      2.0         3.0           0.0
Brand10                 4.0          0.0      1.0         0.0           0.0
Brand100                4.0          3.0      0.0         0.0           0.0
Brand11                 0.0          0.0      0.0         0.0           2.0
Brand12                 0.0          0.0      4.0         1.0           4.0
...                     ...          ...      ...         ...           ...
Brand95                 4.5          0.0      0.0         0.0           4.0
Brand96                 0.0          0.0      0.0         0.0           0.0
Brand97                 3.5          0.0      0.0         0.0           0.0
Brand98                 0.0          4.0      0.0         0.0           0.0
Brand99                 5.0          0.0      3.5         0.0           0.0

Influencer_name  Sophia Wilson
brand_name
Brand1                     0.0
Brand10                    3.0
Brand100                   0.0
Brand11                    3.0
Brand12                    0.0
...                        ...
Brand95                    5.0
Brand96                    0.0
Brand97                    2.0
Brand98                    0.0
Brand99                    0.0

[99 rows x 10 columns]

User based collaborative filtering

In [68]:
from sklearn.metrics.pairwise import cosine_similarity

# Compute cosine similarity between brands
user_similarity = cosine_similarity(rating_data)

# Convert to DataFrame for easier handling
user_similarity_df = pd.DataFrame(user_similarity, index=rating_data.index, columns=rating_data.index)

# Preview user similarity matrix
print(user_similarity_df)

brand_name    Brand1   Brand10  Brand100   Brand11   Brand12   Brand13  \
brand_name
Brand1      1.000000  0.391925  0.307255  0.000000  0.595850  0.000000
Brand10     0.391925  1.000000  0.672827  0.249445  0.259040  0.272015
Brand100    0.307255  0.672827  1.000000  0.157732  0.157949  0.331722
Brand11     0.000000  0.249445  0.157732  1.000000  0.277610  0.661818
Brand12     0.595850  0.259040  0.157949  0.277610  1.000000  0.220910
...              ...       ...       ...       ...       ...       ...
Brand95     0.194461  0.812951  0.588640  0.645643  0.390776  0.557105
Brand96     0.627182  0.515026  0.533863  0.096591  0.322413  0.164706
Brand97     0.378821  0.699928  0.735011  0.536533  0.194739  0.360627
Brand98     0.000000  0.000000  0.564261  0.385303  0.000000  0.519900
Brand99     0.555114  0.710761  0.702195  0.000000  0.495635  0.000000

brand_name   Brand14   Brand15   Brand16   Brand17  ...   Brand90   Brand91  \
brand_name                                          ...
Brand1      0.000000  0.096424  0.558738  0.000000  ...  0.399556  0.221582
Brand10     0.214423  0.376109  0.344116  0.336241  ...  0.840771  0.358229
Brand100    0.522976  0.217262  0.083930  0.512558  ...  0.700219  0.478466
Brand11     0.574485  0.890999  0.177017  0.360346  ...  0.296685  0.475317
Brand12     0.268462  0.346977  0.430842  0.168393  ...  0.205398  0.469870
...              ...       ...       ...       ...  ...       ...       ...
Brand95     0.564189  0.762526  0.173844  0.438821  ...  0.759715  0.438072
Brand96     0.160128  0.236525  0.000000  0.100440  ...  0.612564  0.280260
Brand97     0.513816  0.479929  0.165567  0.189583  ...  0.832483  0.407167
Brand98     0.505450  0.279975  0.079869  0.707251  ...  0.000000  0.575333
Brand99     0.279727  0.082637  0.251396  0.000000  ...  0.770461  0.204736

brand_name   Brand92   Brand93   Brand94   Brand95   Brand96   Brand97  \
brand_name
Brand1      0.518786  0.649500  0.000000  0.194461  0.627182  0.378821
Brand10     0.639021  0.695678  0.450377  0.812951  0.515026  0.699928
Brand100    0.467572  0.402980  0.137309  0.588640  0.533863  0.735011
Brand11     0.570693  0.000000  0.217199  0.645643  0.096591  0.536533
Brand12     0.560050  0.566155  0.338330  0.390776  0.322413  0.194739
...              ...       ...       ...       ...       ...       ...
Brand95     0.771200  0.377077  0.511935  1.000000  0.341495  0.683457
Brand96     0.699913  0.649405  0.000000  0.341495  1.000000  0.653372
Brand97     0.600500  0.392245  0.000000  0.683457  0.653372  1.000000
Brand98     0.200846  0.000000  0.000000  0.136881  0.121405  0.304364
Brand99     0.355687  0.617137  0.000000  0.507546  0.537506  0.679751

brand_name   Brand98   Brand99
brand_name
Brand1      0.000000  0.555114
Brand10     0.000000  0.710761
Brand100    0.564261  0.702195
Brand11     0.385303  0.000000
Brand12     0.000000  0.495635
...              ...       ...
Brand95     0.136881  0.507546
Brand96     0.121405  0.537506
Brand97     0.304364  0.679751
Brand98     1.000000  0.000000
Brand99     0.000000  1.000000

[99 rows x 99 columns]

Item based collaborative filtering

In [69]:
# Compute cosine similarity between influencers
item_similarity = cosine_similarity(rating_data.T)

# Convert to DataFrame for easier handling
item_similarity_df = pd.DataFrame(item_similarity, index=rating_data.columns, columns=rating_data.columns)

# Preview item similarity matrix
print(item_similarity_df)

Influencer_name  Emma Taylor  Isabella Moore  Jane Doe  John Smith  \
Influencer_name
Emma Taylor         1.000000        0.345473  0.356325    0.397083
Isabella Moore      0.345473        1.000000  0.397253    0.382377
Jane Doe            0.356325        0.397253  1.000000    0.265228
John Smith          0.397083        0.382377  0.265228    1.000000
Liam Brown          0.273737        0.374026  0.265466    0.534144
Mason White         0.484643        0.313175  0.317714    0.368401
Mia Lee             0.444965        0.384666  0.284197    0.422777
Noah Davis          0.428211        0.347431  0.300546    0.328226
Olivia Clark        0.446630        0.355580  0.343818    0.575534
Sophia Wilson       0.278730        0.358654  0.456148    0.409724

Influencer_name  Liam Brown  Mason White   Mia Lee  Noah Davis  Olivia Clark  \
Influencer_name
Emma Taylor        0.273737     0.484643  0.444965    0.428211      0.446630
Isabella Moore     0.374026     0.313175  0.384666    0.347431      0.355580
Jane Doe           0.265466     0.317714  0.284197    0.300546      0.343818
John Smith         0.534144     0.368401  0.422777    0.328226      0.575534
Liam Brown         1.000000     0.335694  0.279183    0.259822      0.437921
Mason White        0.335694     1.000000  0.309930    0.400644      0.387600
Mia Lee            0.279183     0.309930  1.000000    0.367464      0.446205
Noah Davis         0.259822     0.400644  0.367464    1.000000      0.316712
Olivia Clark       0.437921     0.387600  0.446205    0.316712      1.000000
Sophia Wilson      0.454103     0.367453  0.300930    0.274112      0.470933

Influencer_name  Sophia Wilson
Influencer_name
Emma Taylor           0.278730
Isabella Moore        0.358654
Jane Doe              0.456148
John Smith            0.409724
Liam Brown            0.454103
Mason White           0.367453
Mia Lee               0.300930
Noah Davis            0.274112
Olivia Clark          0.470933
Sophia Wilson         1.000000

ALS

In [86]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from implicit.als import AlternatingLeastSquares
import scipy.sparse as sparse

# 1. Load Data (merged_dataset should be your combined influencer data)
# Sample merged data (replace this with your actual merged_dataset)

# Prepare Interaction Matrix (for ALS input)
rating_data = merged_rating.pivot_table(index='Influencer_name', columns='Platform', values='rating', aggfunc='sum').fillna(0)

# Convert the interaction matrix to a sparse matrix (required for ALS)
interaction_sparse = sparse.csr_matrix(rating_data.values)

# 2. ALS Model
# Initialize the ALS model (using implicit feedback)
als_model = AlternatingLeastSquares(factors=50, regularization=0.01, iterations=30)

# Train the ALS model
als_model.fit(interaction_sparse)

# 3. Recommend Similar Influencers based on ALS
def recommend_similar_influencers_als(influencer_name, rating_data, model, top_n=5):
    if influencer_name not in rating_data.index:
        print(f"{influencer_name} not found in rating data.")
        return pd.DataFrame()

    # Get the index of the influencer in your interaction data
    influencer_idx = rating_data.index.get_loc(influencer_name)

    # Use ALS to get similar items based on the influencer index
    influencer_recommendations = model.similar_items(influencer_idx, N=top_n + 1)  # ALS returns (index, score) pairs

    # Extract recommended influencer indices and similarity scores
    recommendations = influencer_recommendations  # Exclude the first result (self-recommendation)

    # Map ALS indices back to influencer names using interaction_data
    recommended_influencers = [rating_data.index[int(i[0])] for i in recommendations if int(i[0]) < len(rating_data.index)]
    scores = [i[1] for i in recommendations]  # i[1] is the score

    # Return a DataFrame with the recommended influencers and their similarity scores
    return pd.DataFrame({
        'Influencer_name': recommended_influencers,
        'ALS_Similarity': scores
    })




# Example usage for ALS-based collaborative filtering
als_collab_influencers = recommend_similar_influencers_als('Akshay', rating_data, als_model, top_n=5)
print("\nALS-Based Collaborative Filtering Recommendations:")
print(als_collab_influencers)

# 4. Content-Based Similarity (same as your original code)
tfidf_vectorizer = TfidfVectorizer(stop_words='english')
tfidf_matrix_content = tfidf_vectorizer.fit_transform(merged_rating['Tags'])
cosine_similarities_content = cosine_similarity(tfidf_matrix_content, tfidf_matrix_content)

def search_similar_items_content(user_input, merged_rating, tfidf_vectorizer, tfidf_matrix_content, top_n=5):
    user_input_tfidf = tfidf_vectorizer.transform([user_input])
    cosine_similarities = cosine_similarity(user_input_tfidf, tfidf_matrix_content).flatten()
    similar_item_indices = cosine_similarities.argsort()[-top_n:][::-1]
    return merged_rating.iloc[similar_item_indices]

# Example user input for content-based search
user_input_content = "youtube, Male, Smartphones, Delhi"
similar_items_content = search_similar_items_content(user_input_content, merged_dataset, tfidf_vectorizer, tfidf_matrix_content, top_n=6)
print("\nContent-Based Recommendations:")
print(similar_items_content[['Influencer_name', 'Tags', 'rating']])

# 5. Merge Recommendations
merged_recommendations = pd.concat([similar_items_content[['Influencer_name', 'Category',  'audience_location', 'audience_age', 'audience_Gender', 'Platform', 'rating']],
                                     als_collab_influencers], ignore_index=True)

print("\nMerged Recommendations:")
print(merged_recommendations)

# Save to CSV
merged_recommendations.to_csv('als_results_rating.csv',index = False)

  0%|          | 0/30 [00:00<?, ?it/s]

Akshay not found in rating data.

ALS-Based Collaborative Filtering Recommendations:
Empty DataFrame
Columns: []
Index: []

Content-Based Recommendations:
    Influencer_name                                             Tags  rating
474    Olivia Clark             smartphones, delhi, 18, 25, , tiktok       5
562    Olivia Clark            smartphones, delhi, 18, 30, , twitter       5
40   Isabella Moore  smartphones, maharashtra, 25, 40, male, youtube       2
425        Jane Doe       smartphones, punjab, 18, 30, male, youtube       2
532      Noah Davis              books, delhi, 40, 50, male, youtube       1
331  Isabella Moore      smartphones, gujarat, 22, 40, male, youtube       2

Merged Recommendations:
  Influencer_name     Category audience_location audience_age audience_Gender  \
0    Olivia Clark  smartphones             delhi       18, 25             NaN
1    Olivia Clark  smartphones             delhi       18, 30             NaN
2  Isabella Moore  smartphones       maharashtra       25, 40            male
3        Jane Doe  smartphones            punjab       18, 30            male
4      Noah Davis        books             delhi       40, 50            male
5  Isabella Moore  smartphones           gujarat       22, 40            male

  Platform  rating
0   tiktok       5
1  twitter       5
2  youtube       2
3  youtube       2
4  youtube       1
5  youtube       2

SVD

In [85]:
# import pandas as pd
# from sklearn.feature_extraction.text import TfidfVectorizer
# from sklearn.metrics.pairwise import cosine_similarity
# from implicit.als import AlternatingLeastSquares
# import scipy.sparse as sparse

# # 1. Load Data (merged_dataset should be your combined influencer data)
# # Sample merged data (replace this with your actual merged_dataset)

# # Prepare Interaction Matrix (for ALS input)
# interaction_data = merged_rating.pivot_table(index='Influencer_name', columns='Platform', values='rating', aggfunc='sum').fillna(0)

# # Convert the interaction matrix to a sparse matrix (required for ALS)
# interaction_sparse = sparse.csr_matrix(interaction_data.values)

# # 2. ALS Model
# # Initialize the ALS model (using implicit feedback)
# als_model = AlternatingLeastSquares(factors=50, regularization=0.01, iterations=30)

# # Train the ALS model
# als_model.fit(interaction_sparse)

# # 3. Recommend Similar Influencers based on ALS
# def recommend_similar_influencers_als(influencer_name, interaction_data, model, top_n=5):
#     if influencer_name not in interaction_data.index:
#         print(f"{influencer_name} not found in interaction data.")
#         return pd.DataFrame()

#     # Get the index of the influencer in your interaction data
#     influencer_idx = interaction_data.index.get_loc(influencer_name)

#     # Use ALS to get similar items based on the influencer index
#     influencer_recommendations = model.similar_items(influencer_idx, N=top_n + 1)  # ALS returns (index, score) pairs

#     # Extract recommended influencer indices and similarity scores
#     recommendations = influencer_recommendations  # Exclude the first result (self-recommendation)

#     # Map ALS indices back to influencer names using interaction_data
#     recommended_influencers = [interaction_data.index[int(i[0])] for i in recommendations if int(i[0]) < len(interaction_data.index)]
#     scores = [i[1] for i in recommendations]  # i[1] is the score

#     # Return a DataFrame with the recommended influencers and their similarity scores
#     return pd.DataFrame({
#         'Influencer_name': recommended_influencers,
#         'ALS_Similarity': scores
#     })




# # Example usage for ALS-based collaborative filtering
# als_collab_influencers = recommend_similar_influencers_als('Ankit', interaction_data, als_model, top_n=5)
# print("\nALS-Based Collaborative Filtering Recommendations:")
# print(als_collab_influencers)

# # 4. Content-Based Similarity (same as your original code)
# tfidf_vectorizer = TfidfVectorizer(stop_words='english')
# tfidf_matrix_content = tfidf_vectorizer.fit_transform(merged_rating['Tags'])
# cosine_similarities_content = cosine_similarity(tfidf_matrix_content, tfidf_matrix_content)

# def search_similar_items_content(user_input, merged_rating, tfidf_vectorizer, tfidf_matrix_content, top_n=5):
#     user_input_tfidf = tfidf_vectorizer.transform([user_input])
#     cosine_similarities = cosine_similarity(user_input_tfidf, tfidf_matrix_content).flatten()
#     similar_item_indices = cosine_similarities.argsort()[-top_n:][::-1]
#     return merged_rating.iloc[similar_item_indices]

# # Example user input for content-based search
# user_input_content = "youtube, Male, Smartphones, Delhi"
# similar_items_content = search_similar_items_content(user_input_content, merged_rating, tfidf_vectorizer, tfidf_matrix_content, top_n=6)
# print("\nContent-Based Recommendations:")
# print(similar_items_content[['Influencer_name', 'Tags', 'rating']])

# # 5. Merge Recommendations
# merged_recommendations = pd.concat([similar_items_content[['Influencer_name', 'Category',  'audience_location', 'audience_age', 'audience_gender', 'Platform', 'rating']],
#                                      als_collab_influencers], ignore_index=True)

# print("\nMerged Recommendations:")
# print(merged_recommendations)

# # Save to CSV
# merged_recommendations.to_csv('als_hybrid_results.csv')

from scipy.sparse.linalg import svds
import numpy as np
from scipy.sparse import csr_matrix
from scipy.sparse.linalg import svds

import numpy as np
from scipy.sparse import csr_matrix
from scipy.sparse.linalg import svds

def svd_collaborative_filtering(rating_data, top_n=5):
    # Fill missing values with 0
    rating_data = rating_data.fillna(0)

    # Center the matrix by subtracting the mean
    rating_data_mean = rating_data.mean(axis=1).values.reshape(-1, 1)
    normalized_data = rating_data - rating_data_mean

    # Convert to sparse matrix if large or sparse
    rating_data_sparse = csr_matrix(normalized_data.values)

    # Set k to be less than the smallest dimension of the matrix
    num_users, num_items = rating_data_sparse.shape
    k = min(num_users, num_items) - 1  # Make sure k is smaller than the smallest dimension

    # Perform SVD
    U, sigma, Vt = svds(rating_data_sparse, k=k)

    # Convert sigma to a diagonal matrix
    sigma = np.diag(sigma)

    # Make predictions
    predicted_ratings = np.dot(np.dot(U, sigma), Vt) + rating_data_mean

    # Create a DataFrame for predicted ratings
    predicted_ratings_df = pd.DataFrame(predicted_ratings, index=rating_data.index, columns=rating_data.columns)

    return predicted_ratings_df


# Example usage for SVD-based collaborative filtering
svd_predictions = svd_collaborative_filtering(rating_data)
print("\nSVD Collaborative Filtering Predictions:")
print(svd_predictions)

# 3. Content-Based Similarity
tfidf_vectorizer = TfidfVectorizer(stop_words='english')
tfidf_matrix_content = tfidf_vectorizer.fit_transform(merged_rating['Tags'])
cosine_similarities_content = cosine_similarity(tfidf_matrix_content, tfidf_matrix_content)

def search_similar_items_content(user_input, merged_rating, tfidf_vectorizer, tfidf_matrix_content, top_n=5):
    user_input_tfidf = tfidf_vectorizer.transform([user_input])
    cosine_similarities = cosine_similarity(user_input_tfidf, tfidf_matrix_content).flatten()
    similar_item_indices = cosine_similarities.argsort()[-top_n:][::-1]
    return merged_rating.iloc[similar_item_indices]

# Example user input for content-based search
user_input_content = "youtube, Male, Smartphones, Delhi "
similar_items_content = search_similar_items_content(user_input_content, merged_rating, tfidf_vectorizer, tfidf_matrix_content, top_n=6)

# 4. Recommend Similar Influencers based on SVD collaborative filtering
def recommend_similar_influencers_svd(influencer_name, svd_predictions, top_n=5):
    if influencer_name not in svd_predictions.index:
        return pd.DataFrame()

    influencer_recommendations = svd_predictions.loc[influencer_name].sort_values(ascending=False)
    return influencer_recommendations.head(top_n)

# Example usage for SVD-based collaborative filtering
svd_collab_influencers = recommend_similar_influencers_svd('Akshay', svd_predictions, top_n=5)
print("\nSVD-Based Collaborative Filtering Recommendations:")
print(svd_collab_influencers)

# 5. Merge Recommendations
merged_recommendations = pd.concat([similar_items_content[['Influencer_name', 'Category', 'audience_location', 'audience_age', 'audience_Gender', 'Platform', 'rating']],
                                     svd_collab_influencers.reset_index().rename(columns={'index': 'Influencer_name', 0: 'SVD_Similarity'})],
                                    ignore_index=True)

print("\nMerged Recommendations:")
print(merged_recommendations)

# Save the merged recommendations to a CSV file
merged_recommendations.to_csv('results_svd_rating.csv', index=False)

SVD Collaborative Filtering Predictions:
Platform         facebook  instagram  tiktok  twitter  youtube
Influencer_name
Emma Taylor          24.0       35.0    43.0     39.0     49.0
Isabella Moore       42.0       32.0    31.0     27.0     45.0
Jane Doe             34.0       27.0    26.0     17.0     43.0
John Smith           54.0       52.0    30.0     57.0     57.0
Liam Brown           48.0       31.0    34.0     13.0     26.0
Mason White          31.0       33.0    34.0     24.0     36.0
Mia Lee              27.0       25.0    42.0     31.0     43.0
Noah Davis           32.0       37.0    45.0     16.0      8.0
Olivia Clark         28.0       55.0    47.0     64.0     39.0
Sophia Wilson        44.0       34.0    24.0     30.0     38.0

SVD-Based Collaborative Filtering Recommendations:
Empty DataFrame
Columns: []
Index: []

Merged Recommendations:
  Influencer_name     Category audience_location audience_age audience_Gender  \
0    Olivia Clark  smartphones             delhi       18, 25             NaN
1    Olivia Clark  smartphones             delhi       18, 30             NaN
2  Isabella Moore  smartphones       maharashtra       25, 40            male
3        Jane Doe  smartphones            punjab       18, 30            male
4      Noah Davis        books             delhi       40, 50            male
5  Isabella Moore  smartphones           gujarat       22, 40            male

  Platform  rating
0   tiktok     5.0
1  twitter     5.0
2  youtube     2.0
3  youtube     2.0
4  youtube     1.0
5  youtube     2.0