In [2]:
import pandas as pd

In [3]:
brand_data = pd.read_csv('brand_dataset.csv')

In [9]:
brand_data['product_category'].unique()

array(['Nutrition Products', 'Smartphones', 'Home Appliances', 'Gadgets',
       'Fashion Accessories', 'Eco-friendly Goods', 'Travel Services',
       'Food Products', 'Gaming Products', 'Cosmetics', 'Pet Supplies',
       'Books', 'Clothing', 'Art Supplies', 'Fitness Equipment'],
      dtype=object)

In [6]:
influencer_data = pd.read_csv('influencer_dataset.csv')

In [8]:
influencer_data['Category'].unique()

array(['Food', 'Fashion', 'Lifestyle', 'Tech', 'Travel', 'Music',
       'Health', 'Gaming', 'Fitness', 'Photography'], dtype=object)

In [10]:
influencer_data.head()

,id,Influencer_name,Handle,Followers,Posts,Likes,Category,Sentiment,audience_location,audience_age,audience_Gender,Platform,Engagement_rate
0,1,Jane Doe,@emma.t,340770,986,31587,Food,Positive,Kerala,15-24,Male,TikTok,9.269302
1,2,Mia Lee,@jane.doe,702603,847,49725,Fashion,Positive,Gujarat,All,All,Twitter,7.077254
2,3,John Smith,@noah.d,113855,241,41587,Food,Positive,Kerala,18-30,Male,Instagram,36.526283
3,4,Emma Taylor,@jane.doe,202147,944,8042,Lifestyle,Negative,Kerala,15-24,All,Facebook,3.978293
4,5,Mason White,@john.smith,495171,508,30531,Lifestyle,Negative,Tamil Nadu,40-50,Female,Instagram,6.165749