In [39]:
import pandas as pd

In [40]:
brand_data = pd.read_csv('brand_dataset_extended.csv')

In [41]:
brand_data['target_category'].unique()

array(['Nutrition Products', 'Smartphones', 'Home Appliances', 'Gadgets',
       'Fashion Accessories', 'Eco-friendly Goods', 'Travel Services',
       'Food Products', 'Gaming Products', 'Cosmetics', 'Pet Supplies',
       'Books', 'Clothing', 'Art Supplies', 'Fitness Equipment'],
      dtype=object)

In [42]:
influencer_data = pd.read_csv('influencer_dataset_extended.csv')

In [43]:
influencer_data['Category'].unique()

array(['Nutrition Products', 'Smartphones', 'Home Appliances', 'Gadgets',
       'Fashion Accessories', 'Eco-friendly Goods', 'Travel Services',
       'Food Products', 'Gaming Products', 'Cosmetics', 'Pet Supplies',
       'Books', 'Clothing', 'Art Supplies', 'Fitness Equipment'],
      dtype=object)

In [44]:
influencer_data.head()

,id,Influencer_name,Handle,Followers,Posts,Likes,Category,Sentiment,audience_location,audience_age,audience_gender,Platform,Engagement_rate
0,1,Jane Doe,@emma.t,340770,986,31587,Nutrition Products,Positive,Kerala,15-24,Male,TikTok,48.207237
1,2,Mia Lee,@jane.doe,702603,847,49725,Smartphones,Positive,Gujarat,All,All,Twitter,48.207237
2,3,John Smith,@noah.d,113855,241,41587,Home Appliances,Positive,Kerala,18-30,Male,Instagram,47.116354
3,4,Emma Taylor,@jane.doe,202147,944,8042,Gadgets,Negative,Kerala,15-24,All,Facebook,47.116354
4,5,Mason White,@john.smith,495171,508,30531,Home Appliances,Negative,Tamil Nadu,40-50,Female,Instagram,36.526283

In [45]:
brand_data.head()

   id brand_name     target_category target_age target_gender target_location
0   1    Brand72  Nutrition Products      15-24        Female          Kerala
1   2    Brand88         Smartphones        All          Male         Gujarat
2   3    Brand55     Home Appliances      18-30          Male          Kerala
3   4    Brand84             Gadgets      15-24          Male          Kerala
4   5    Brand43     Home Appliances      40-50           All      Tamil Nadu

In [46]:
#merging both database

merged_data = pd.merge( brand_data, influencer_data, on = 'id', how = 'right')

In [47]:
merged_data.head()

,id,brand_name,target_category,target_age,target_gender,target_location,Influencer_name,Handle,Followers,Posts,Likes,Category,Sentiment,audience_location,audience_age,audience_gender,Platform,Engagement_rate
0,1,Brand72,Nutrition Products,15-24,Female,Kerala,Jane Doe,@emma.t,340770,986,31587,Nutrition Products,Positive,Kerala,15-24,Male,TikTok,48.207237
1,2,Brand88,Smartphones,All,Male,Gujarat,Mia Lee,@jane.doe,702603,847,49725,Smartphones,Positive,Gujarat,All,All,Twitter,48.207237
2,3,Brand55,Home Appliances,18-30,Male,Kerala,John Smith,@noah.d,113855,241,41587,Home Appliances,Positive,Kerala,18-30,Male,Instagram,47.116354
3,4,Brand84,Gadgets,15-24,Male,Kerala,Emma Taylor,@jane.doe,202147,944,8042,Gadgets,Negative,Kerala,15-24,All,Facebook,47.116354
4,5,Brand43,Home Appliances,40-50,All,Tamil Nadu,Mason White,@john.smith,495171,508,30531,Home Appliances,Negative,Tamil Nadu,40-50,Female,Instagram,36.526283

In [48]:
merged_data.to_csv("merged_data.csv",index=False)

In [49]:
merged_dataset = pd.read_csv("merged_data.csv")

In [50]:
merged_dataset.sort_values

<bound method DataFrame.sort_values of         id brand_name      target_category target_age target_gender  \
0        1    Brand72   Nutrition Products      15-24        Female
1        2    Brand88          Smartphones        All          Male
2        3    Brand55      Home Appliances      18-30          Male
3        4    Brand84              Gadgets      15-24          Male
4        5    Brand43      Home Appliances      40-50           All
...    ...        ...                  ...        ...           ...
1595  1596   Brand146  Fashion Accessories      18-30           All
1596  1597   Brand107      Gaming Products      22-40        Female
1597  1598   Brand149   Eco-friendly Goods        All          Male
1598  1599   Brand125          Smartphones      18-30           All
1599  1600   Brand119  Fashion Accessories      15-24           All

     target_location         Influencer_name                Handle  Followers  \
0             Kerala                Jane Doe               @emma.t     340770
1            Gujarat                 Mia Lee             @jane.doe     702603
2             Kerala              John Smith               @noah.d     113855
3             Kerala             Emma Taylor             @jane.doe     202147
4         Tamil Nadu             Mason White           @john.smith     495171
...              ...                     ...                   ...        ...
1595   Uttar Pradesh       Isabella Anderson             Saurav@jn     338287
1596       Karnataka                   Rohit  Sophia Rodriguez@abc     801403
1597     Maharashtra  Sanjay DuttAiden Smith          Faisal@dscdf     360266
1598  Madhya Pradesh                 Amitabh       Mia Johnson@abc     230748
1599           Delhi             Lucas Brown    Ashwin@ravichandra     856447

      Posts  Likes            Category Sentiment audience_location  \
0       986  31587  Nutrition Products  Positive            Kerala
1       847  49725         Smartphones  Positive           Gujarat
2       241  41587     Home Appliances  Positive            Kerala
3       944   8042             Gadgets  Negative            Kerala
4       508  30531     Home Appliances  Negative        Tamil Nadu
...     ...    ...                 ...       ...               ...
1595    122  21697  Nutrition Products   Neutral     Uttar Pradesh
1596    605  12690  Nutrition Products  Negative             Delhi
1597    632  21697         Smartphones   Neutral     Uttar Pradesh
1598    534  40011     Home Appliances   Neutral        Tamil Nadu
1599    690  32011         Smartphones  Positive         Karnataka

     audience_age audience_gender   Platform  Engagement_rate
0           15-24            Male     TikTok        48.207237
1             All             All    Twitter        48.207237
2           18-30            Male  Instagram        47.116354
3           15-24             All   Facebook        47.116354
4           40-50          Female  Instagram        36.526283
...           ...             ...        ...              ...
1595        18-30          Female    Youtube         6.772122
1596        18-30             All     Tiktok         6.676725
1597        18-30          Female    Youtube         6.676725
1598        25-40          Female   Facebook         6.671060
1599        18-30             All  Instagram         6.671060

[1600 rows x 18 columns]>

creating new column for brand-influencer interaction

In [51]:
#if engagment rate > 5 then interaction = 1 else 0

import pandas as pd

# Sample merged_data DataFrame creation (you would already have this)



# Define interaction criteria
engagemnet_rate_threshold = 5  # For example, consider an interaction if likes are above this threshold

# Add interaction column (1 for interaction, 0 for no interaction)
merged_dataset['Interaction'] = (merged_dataset['Engagement_rate'] > engagemnet_rate_threshold).astype(int)

# Preview the updated DataFrame
print(merged_dataset)

        id brand_name      target_category target_age target_gender  \
0        1    Brand72   Nutrition Products      15-24        Female
1        2    Brand88          Smartphones        All          Male
2        3    Brand55      Home Appliances      18-30          Male
3        4    Brand84              Gadgets      15-24          Male
4        5    Brand43      Home Appliances      40-50           All
...    ...        ...                  ...        ...           ...
1595  1596   Brand146  Fashion Accessories      18-30           All
1596  1597   Brand107      Gaming Products      22-40        Female
1597  1598   Brand149   Eco-friendly Goods        All          Male
1598  1599   Brand125          Smartphones      18-30           All
1599  1600   Brand119  Fashion Accessories      15-24           All

     target_location         Influencer_name                Handle  Followers  \
0             Kerala                Jane Doe               @emma.t     340770
1            Gujarat                 Mia Lee             @jane.doe     702603
2             Kerala              John Smith               @noah.d     113855
3             Kerala             Emma Taylor             @jane.doe     202147
4         Tamil Nadu             Mason White           @john.smith     495171
...              ...                     ...                   ...        ...
1595   Uttar Pradesh       Isabella Anderson             Saurav@jn     338287
1596       Karnataka                   Rohit  Sophia Rodriguez@abc     801403
1597     Maharashtra  Sanjay DuttAiden Smith          Faisal@dscdf     360266
1598  Madhya Pradesh                 Amitabh       Mia Johnson@abc     230748
1599           Delhi             Lucas Brown    Ashwin@ravichandra     856447

      Posts  Likes            Category Sentiment audience_location  \
0       986  31587  Nutrition Products  Positive            Kerala
1       847  49725         Smartphones  Positive           Gujarat
2       241  41587     Home Appliances  Positive            Kerala
3       944   8042             Gadgets  Negative            Kerala
4       508  30531     Home Appliances  Negative        Tamil Nadu
...     ...    ...                 ...       ...               ...
1595    122  21697  Nutrition Products   Neutral     Uttar Pradesh
1596    605  12690  Nutrition Products  Negative             Delhi
1597    632  21697         Smartphones   Neutral     Uttar Pradesh
1598    534  40011     Home Appliances   Neutral        Tamil Nadu
1599    690  32011         Smartphones  Positive         Karnataka

     audience_age audience_gender   Platform  Engagement_rate  Interaction
0           15-24            Male     TikTok        48.207237            1
1             All             All    Twitter        48.207237            1
2           18-30            Male  Instagram        47.116354            1
3           15-24             All   Facebook        47.116354            1
4           40-50          Female  Instagram        36.526283            1
...           ...             ...        ...              ...          ...
1595        18-30          Female    Youtube         6.772122            1
1596        18-30             All     Tiktok         6.676725            1
1597        18-30          Female    Youtube         6.676725            1
1598        25-40          Female   Facebook         6.671060            1
1599        18-30             All  Instagram         6.671060            1

[1600 rows x 19 columns]

In [52]:
merged_dataset['Interaction'].unique()

array([1, 0])

In [53]:
merged_dataset.head()

,id,brand_name,target_category,target_age,target_gender,target_location,Influencer_name,Handle,Followers,Posts,Likes,Category,Sentiment,audience_location,audience_age,audience_gender,Platform,Engagement_rate,Interaction
0,1,Brand72,Nutrition Products,15-24,Female,Kerala,Jane Doe,@emma.t,340770,986,31587,Nutrition Products,Positive,Kerala,15-24,Male,TikTok,48.207237,1
1,2,Brand88,Smartphones,All,Male,Gujarat,Mia Lee,@jane.doe,702603,847,49725,Smartphones,Positive,Gujarat,All,All,Twitter,48.207237,1
2,3,Brand55,Home Appliances,18-30,Male,Kerala,John Smith,@noah.d,113855,241,41587,Home Appliances,Positive,Kerala,18-30,Male,Instagram,47.116354,1
3,4,Brand84,Gadgets,15-24,Male,Kerala,Emma Taylor,@jane.doe,202147,944,8042,Gadgets,Negative,Kerala,15-24,All,Facebook,47.116354,1
4,5,Brand43,Home Appliances,40-50,All,Tamil Nadu,Mason White,@john.smith,495171,508,30531,Home Appliances,Negative,Tamil Nadu,40-50,Female,Instagram,36.526283,1

create interaction matrix

In [54]:
# Create interaction matrix based on the new Interaction column
interaction_data = pd.pivot_table(
    merged_dataset,
    index='brand_name',
    columns='Influencer_name',
    values='Interaction',
    fill_value=0
)

# Preview the interaction matrix
print(interaction_data)

Influencer_name  Akshay  Amelia Taylor  Amitabh  Ankit  Ashwin  Ava Wilson  \
brand_name
Brand1              0.0            0.0      0.0    0.0     0.0         0.0
Brand10             0.0            0.0      0.0    0.0     0.0         0.0
Brand100            0.0            0.0      0.0    0.0     0.0         0.0
Brand101            0.0            0.0      0.0    0.0     0.0         1.0
Brand102            0.0            0.0      0.0    0.0     1.0         0.0
...                 ...            ...      ...    ...     ...         ...
Brand95             0.0            0.0      0.0    0.0     0.0         0.0
Brand96             0.0            0.0      0.0    0.0     0.0         0.0
Brand97             0.0            0.0      0.0    0.0     0.0         0.0
Brand98             0.0            0.0      0.0    0.0     0.0         0.0
Brand99             0.0            0.0      0.0    0.0     0.0         0.0

Influencer_name  Elijah White  Emma Garcia  Emma Taylor  Ethan Jones  ...  \
brand_name                                                            ...
Brand1                    0.0          0.0          0.0          0.0  ...
Brand10                   0.0          0.0          0.0          0.0  ...
Brand100                  0.0          0.0          0.0          0.0  ...
Brand101                  1.0          0.0          0.0          1.0  ...
Brand102                  0.0          0.0          0.0          1.0  ...
...                       ...          ...          ...          ...  ...
Brand95                   0.0          0.0          0.0          0.0  ...
Brand96                   0.0          0.0          0.0          0.0  ...
Brand97                   0.0          0.0          1.0          0.0  ...
Brand98                   0.0          0.0          1.0          0.0  ...
Brand99                   0.0          0.0          0.0          0.0  ...

Influencer_name  Rohit  Salman Khan  Sanjay DuttAiden Smith  Sarukh khan  \
brand_name
Brand1             0.0          0.0                     0.0          0.0
Brand10            0.0          0.0                     0.0          0.0
Brand100           0.0          0.0                     0.0          0.0
Brand101           0.0          0.0                     0.0          0.0
Brand102           0.0          0.0                     0.0          0.0
...                ...          ...                     ...          ...
Brand95            0.0          0.0                     0.0          0.0
Brand96            0.0          0.0                     0.0          0.0
Brand97            0.0          0.0                     0.0          0.0
Brand98            0.0          0.0                     0.0          0.0
Brand99            0.0          0.0                     0.0          0.0

Influencer_name  Saurav  Sophia Rodriguez  Sophia Wilson    Sujeet  Vicky  \
brand_name
Brand1              0.0               0.0            0.0  0.000000    0.0
Brand10             0.0               0.0            1.0  0.000000    0.0
Brand100            0.0               0.0            0.0  0.000000    0.0
Brand101            0.0               0.0            0.0  0.333333    0.0
Brand102            0.0               0.0            0.0  0.000000    1.0
...                 ...               ...            ...       ...    ...
Brand95             0.0               0.0            1.0  0.000000    0.0
Brand96             0.0               0.0            0.0  0.000000    0.0
Brand97             0.0               0.0            1.0  0.000000    0.0
Brand98             0.0               0.0            0.0  0.000000    0.0
Brand99             0.0               0.0            0.0  0.000000    0.0

Influencer_name  Zoe Williams
brand_name
Brand1                    0.0
Brand10                   0.0
Brand100                  0.0
Brand101                  0.0
Brand102                  0.0
...                       ...
Brand95                   0.0
Brand96                   0.0
Brand97                   0.0
Brand98                   0.0
Brand99                   0.0

[149 rows x 39 columns]

user based collaborative filtering

In [55]:
from sklearn.metrics.pairwise import cosine_similarity

# Compute cosine similarity between brands
user_similarity = cosine_similarity(interaction_data)

# Convert to DataFrame for easier handling
user_similarity_df = pd.DataFrame(user_similarity, index=interaction_data.index, columns=interaction_data.index)

# Preview user similarity matrix
print(user_similarity_df)

brand_name    Brand1   Brand10  Brand100  Brand101  Brand102  Brand103  \
brand_name
Brand1      1.000000  0.596285  0.298142  0.000000  0.000000       0.0
Brand10     0.596285  1.000000  0.600000  0.000000  0.000000       0.0
Brand100    0.298142  0.600000  1.000000  0.000000  0.000000       0.0
Brand101    0.000000  0.000000  0.000000  1.000000  0.228914       0.0
Brand102    0.000000  0.000000  0.000000  0.228914  1.000000       0.0
...              ...       ...       ...       ...       ...       ...
Brand95     0.212000  0.711068  0.711068  0.000000  0.000000       0.0
Brand96     0.471405  0.316228  0.632456  0.000000  0.000000       0.0
Brand97     0.298142  0.600000  0.600000  0.000000  0.000000       0.0
Brand98     0.000000  0.000000  0.516398  0.000000  0.000000       0.0
Brand99     0.769800  0.774597  0.516398  0.000000  0.000000       0.0

brand_name  Brand104  Brand105  Brand106  Brand107  ...   Brand90   Brand91  \
brand_name                                          ...
Brand1      0.000000  0.000000  0.000000  0.000000  ...  0.384900  0.503953
Brand10     0.000000  0.000000  0.000000  0.000000  ...  0.774597  0.507093
Brand100    0.000000  0.000000  0.000000  0.000000  ...  0.516398  0.676123
Brand101    0.253597  0.381524  0.240298  0.263515  ...  0.000000  0.000000
Brand102    0.246183  0.111111  0.157459  0.191859  ...  0.000000  0.000000
...              ...       ...       ...       ...  ...       ...       ...
Brand95     0.000000  0.000000  0.000000  0.000000  ...  0.673189  0.600962
Brand96     0.000000  0.000000  0.000000  0.000000  ...  0.408248  0.534522
Brand97     0.000000  0.000000  0.000000  0.000000  ...  0.774597  0.507093
Brand98     0.000000  0.000000  0.000000  0.000000  ...  0.000000  0.654654
Brand99     0.000000  0.000000  0.000000  0.000000  ...  0.666667  0.436436

brand_name   Brand92   Brand93   Brand94   Brand95   Brand96   Brand97  \
brand_name
Brand1      0.408248  0.769800  0.000000  0.212000  0.471405  0.298142
Brand10     0.547723  0.774597  0.447214  0.711068  0.316228  0.600000
Brand100    0.547723  0.516398  0.447214  0.711068  0.632456  0.600000
Brand101    0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
Brand102    0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
...              ...       ...       ...       ...       ...       ...
Brand95     0.822210  0.428393  0.423999  1.000000  0.524672  0.711068
Brand96     0.577350  0.408248  0.000000  0.524672  1.000000  0.632456
Brand97     0.547723  0.258199  0.000000  0.711068  0.632456  1.000000
Brand98     0.235702  0.000000  0.000000  0.244796  0.408248  0.516398
Brand99     0.235702  0.666667  0.000000  0.428393  0.408248  0.516398

brand_name   Brand98   Brand99
brand_name
Brand1      0.000000  0.769800
Brand10     0.000000  0.774597
Brand100    0.516398  0.516398
Brand101    0.000000  0.000000
Brand102    0.000000  0.000000
...              ...       ...
Brand95     0.244796  0.428393
Brand96     0.408248  0.408248
Brand97     0.516398  0.516398
Brand98     1.000000  0.000000
Brand99     0.000000  1.000000

[149 rows x 149 columns]

Item-based collaborative filtering

In [56]:
# Compute cosine similarity between influencers
item_similarity = cosine_similarity(interaction_data.T)

# Convert to DataFrame for easier handling
item_similarity_df = pd.DataFrame(item_similarity, index=interaction_data.columns, columns=interaction_data.columns)

# Preview item similarity matrix
print(item_similarity_df)

Influencer_name           Akshay  Amelia Taylor   Amitabh     Ankit    Ashwin  \
Influencer_name
Akshay                  1.000000       0.187213  0.250926  0.101390  0.215588
Amelia Taylor           0.187213       1.000000  0.327423  0.137199  0.175038
Amitabh                 0.250926       0.327423  1.000000  0.343155  0.265331
Ankit                   0.101390       0.137199  0.343155  1.000000  0.500313
Ashwin                  0.215588       0.175038  0.265331  0.500313  1.000000
Ava Wilson              0.170664       0.384900  0.455091  0.000000  0.140359
Elijah White            0.219565       0.148556  0.180151  0.000000  0.108346
Emma Garcia             0.242776       0.098556  0.000000  0.056341  0.227618
Emma Taylor             0.000000       0.000000  0.000000  0.000000  0.000000
Ethan Jones             0.156426       0.205793  0.144389  0.060503  0.128649
Faisal                  0.261502       0.294884  0.000000  0.101144  0.086026
Gagan                   0.322912       0.428043  0.400123  0.168228  0.234137
Gaurav                  0.076643       0.051856  0.141491  0.200099  0.226921
Isabella Anderson       0.138494       0.093704  0.435594  0.214269  0.182242
Isabella Moore          0.000000       0.000000  0.000000  0.000000  0.000000
Jackson Lee             0.286618       0.189194  0.206488  0.308241  0.427749
Jane Doe                0.000000       0.000000  0.000000  0.000000  0.000000
John Smith              0.000000       0.000000  0.000000  0.000000  0.000000
Liam Brown              0.000000       0.000000  0.000000  0.000000  0.000000
Liam Harris             0.159434       0.202260  0.036791  0.069375  0.177016
Lucas Brown             0.283708       0.164532  0.149644  0.237023  0.287994
Mason White             0.000000       0.000000  0.000000  0.000000  0.000000
Mia Johnson             0.154371       0.417786  0.253320  0.119416  0.406269
Mia Lee                 0.000000       0.000000  0.000000  0.000000  0.000000
Noah Davis              0.000000       0.000000  0.000000  0.000000  0.000000
Noah Martinez           0.053573       0.144989  0.131869  0.372982  0.211489
Oliver Thompson         0.275514       0.000000  0.361690  0.341005  0.380672
Olivia Clark            0.000000       0.000000  0.000000  0.000000  0.000000
Rahul                   0.121857       0.197874  0.209963  0.226234  0.168367
Rohit                   0.368321       0.373805  0.292760  0.240402  0.204469
Salman Khan             0.396947       0.137143  0.166310  0.176399  0.158368
Sanjay DuttAiden Smith  0.259538       0.188144  0.182527  0.306531  0.384211
Sarukh khan             0.182971       0.445669  0.315264  0.000000  0.108346
Saurav                  0.284440       0.307920  0.420084  0.132020  0.252646
Sophia Rodriguez        0.307246       0.170084  0.211987  0.032410  0.234310
Sophia Wilson           0.000000       0.000000  0.000000  0.000000  0.000000
Sujeet                  0.287026       0.377902  0.439179  0.297044  0.137807
Vicky                   0.156765       0.353553  0.171499  0.303170  0.206284
Zoe Williams            0.223116       0.111477  0.076042  0.047795  0.040652

Influencer_name         Ava Wilson  Elijah White  Emma Garcia  Emma Taylor  \
Influencer_name
Akshay                    0.170664      0.219565     0.242776     0.000000
Amelia Taylor             0.384900      0.148556     0.098556     0.000000
Amitabh                   0.455091      0.180151     0.000000     0.000000
Ankit                     0.000000      0.000000     0.056341     0.000000
Ashwin                    0.140359      0.108346     0.227618     0.000000
Ava Wilson                1.000000      0.285897     0.379343     0.000000
Elijah White              0.285897      1.000000     0.183014     0.000000
Emma Garcia               0.379343      0.183014     1.000000     0.000000
Emma Taylor               0.000000      0.000000     0.000000     1.000000
Ethan Jones               0.271577      0.240208     0.086924     0.000000
Faisal                    0.056750      0.219034     0.072657     0.000000
Gagan                     0.514856      0.231833     0.175776     0.000000
Gaurav                    0.000000      0.048147     0.063884     0.000000
Isabella Anderson         0.180334      0.425344     0.282185     0.000000
Isabella Moore            0.000000      0.000000     0.000000     0.365674
Jackson Lee               0.163846      0.052699     0.081577     0.000000
Jane Doe                  0.000000      0.000000     0.000000     0.429762
John Smith                0.000000      0.000000     0.000000     0.430362
Liam Brown                0.000000      0.000000     0.000000     0.345022
Liam Harris               0.116775      0.375587     0.099670     0.000000
Lucas Brown               0.189986      0.000000     0.385123     0.000000
Mason White               0.000000      0.000000     0.000000     0.550169
Mia Johnson               0.301511      0.258603     0.157267     0.000000
Mia Lee                   0.000000      0.000000     0.000000     0.571513
Noah Davis                0.000000      0.000000     0.000000     0.440706
Noah Martinez             0.209274      0.448731     0.223275     0.000000
Oliver Thompson           0.000000      0.000000     0.022965     0.000000
Olivia Clark              0.000000      0.000000     0.000000     0.472642
Rahul                     0.285606      0.183721     0.054171     0.000000
Rohit                     0.199830      0.366351     0.243047     0.000000
Salman Khan               0.043989      0.254668     0.140795     0.000000
Sanjay DuttAiden Smith    0.181042      0.139750     0.401760     0.000000
Sarukh khan               0.285897      0.000000     0.045754     0.000000
Saurav                    0.333333      0.071474     0.158060     0.000000
Sophia Rodriguez          0.236403      0.157919     0.232817     0.000000
Sophia Wilson             0.000000      0.000000     0.000000     0.404793
Sujeet                    0.282828      0.272901     0.000000     0.000000
Vicky                     0.068041      0.262613     0.000000     0.000000
Zoe Williams              0.000000      0.155256     0.412004     0.000000

Influencer_name         Ethan Jones  ...     Rohit  Salman Khan  \
Influencer_name                      ...
Akshay                     0.156426  ...  0.368321     0.396947
Amelia Taylor              0.205793  ...  0.373805     0.137143
Amitabh                    0.144389  ...  0.292760     0.166310
Ankit                      0.060503  ...  0.240402     0.176399
Ashwin                     0.128649  ...  0.204469     0.158368
Ava Wilson                 0.271577  ...  0.199830     0.043989
Elijah White               0.240208  ...  0.366351     0.254668
Emma Garcia                0.086924  ...  0.243047     0.140795
Emma Taylor                0.000000  ...  0.000000     0.000000
Ethan Jones                1.000000  ...  0.128211     0.201593
Faisal                     0.164717  ...  0.321502     0.202206
Gagan                      0.393252  ...  0.333343     0.309567
Gaurav                     0.343018  ...  0.191822     0.450039
Isabella Anderson          0.165289  ...  0.340542     0.339120
Isabella Moore             0.000000  ...  0.000000     0.000000
Jackson Lee                0.308697  ...  0.162070     0.243249
Jane Doe                   0.000000  ...  0.000000     0.000000
John Smith                 0.000000  ...  0.000000     0.000000
Liam Brown                 0.000000  ...  0.000000     0.000000
Liam Harris                0.160549  ...  0.189015     0.000000
Lucas Brown                0.029023  ...  0.076879     0.042308
Mason White                0.000000  ...  0.000000     0.000000
Mia Johnson                0.163767  ...  0.216904     0.119368
Mia Lee                    0.000000  ...  0.000000     0.000000
Noah Davis                 0.000000  ...  0.000000     0.000000
Noah Martinez              0.191815  ...  0.395192     0.000000
Oliver Thompson            0.263055  ...  0.212915     0.191737
Olivia Clark               0.000000  ...  0.000000     0.000000
Rahul                      0.310256  ...  0.325315     0.433438
Rohit                      0.128211  ...  1.000000     0.360455
Salman Khan                0.201593  ...  0.360455     1.000000
Sanjay DuttAiden Smith     0.149344  ...  0.234431     0.177393
Sarukh khan                0.032756  ...  0.404915     0.127334
Saurav                     0.305524  ...  0.269771     0.241937
Sophia Rodriguez           0.133342  ...  0.377742     0.380664
Sophia Wilson              0.000000  ...  0.000000     0.000000
Sujeet                     0.370332  ...  0.343345     0.350909
Vicky                      0.291036  ...  0.367112     0.303046
Zoe Williams               0.208930  ...  0.195332     0.143328

Influencer_name         Sanjay DuttAiden Smith  Sarukh khan    Saurav  \
Influencer_name
Akshay                                0.259538     0.182971  0.284440
Amelia Taylor                         0.188144     0.445669  0.307920
Amitabh                               0.182527     0.315264  0.420084
Ankit                                 0.306531     0.000000  0.132020
Ashwin                                0.384211     0.108346  0.252646
Ava Wilson                            0.181042     0.285897  0.333333
Elijah White                          0.139750     0.000000  0.071474
Emma Garcia                           0.401760     0.045754  0.158060
Emma Taylor                           0.000000     0.000000  0.000000
Ethan Jones                           0.149344     0.032756  0.305524
Faisal                                0.000000     0.219034  0.028375
Gagan                                 0.385891     0.198714  0.540598
Gaurav                                0.329281     0.096295  0.324342
Isabella Anderson                     0.176299     0.116003  0.180334
Isabella Moore                        0.000000     0.000000  0.000000
Jackson Lee                           0.258069     0.351324  0.236667
Jane Doe                              0.000000     0.000000  0.000000
John Smith                            0.000000     0.000000  0.000000
Liam Brown                            0.000000     0.000000  0.000000
Liam Harris                           0.228324     0.150235  0.000000
Lucas Brown                           0.386948     0.122212  0.047496
Mason White                           0.000000     0.000000  0.000000
Mia Johnson                           0.131007     0.323254  0.268010
Mia Lee                               0.000000     0.000000  0.000000
Noah Davis                            0.000000     0.000000  0.000000
Noah Martinez                         0.204592     0.134619  0.069758
Oliver Thompson                       0.210433     0.138463  0.143499
Olivia Clark                          0.000000     0.000000  0.000000
Rahul                                 0.144779     0.244962  0.412543
Rohit                                 0.234431     0.404915  0.269771
Salman Khan                           0.177393     0.127334  0.241937
Sanjay DuttAiden Smith                1.000000     0.139750  0.325875
Sarukh khan                           0.139750     1.000000  0.285897
Saurav                                0.325875     0.285897  1.000000
Sophia Rodriguez                      0.391115     0.263198  0.472805
Sophia Wilson                         0.000000     0.000000  0.000000
Sujeet                                0.222188     0.116958  0.303030
Vicky                                 0.099779     0.164133  0.136083
Zoe Williams                          0.209738     0.051752  0.134086

Influencer_name         Sophia Rodriguez  Sophia Wilson    Sujeet     Vicky  \
Influencer_name
Akshay                          0.307246       0.000000  0.287026  0.156765
Amelia Taylor                   0.170084       0.000000  0.377902  0.353553
Amitabh                         0.211987       0.000000  0.439179  0.171499
Ankit                           0.032410       0.000000  0.297044  0.303170
Ashwin                          0.234310       0.000000  0.137807  0.206284
Ava Wilson                      0.236403       0.000000  0.282828  0.068041
Elijah White                    0.157919       0.000000  0.272901  0.262613
Emma Garcia                     0.232817       0.000000  0.000000  0.000000
Emma Taylor                     0.000000       0.404793  0.000000  0.000000
Ethan Jones                     0.133342       0.000000  0.370332  0.291036
Faisal                          0.111456       0.000000  0.139297  0.156386
Gagan                           0.429741       0.000000  0.421245  0.189170
Gaurav                          0.238873       0.000000  0.197327  0.252092
Isabella Anderson               0.088542       0.000000  0.295092  0.312889
Isabella Moore                  0.000000       0.389159  0.000000  0.000000
Jackson Lee                     0.254749       0.000000  0.268112  0.133780
Jane Doe                        0.000000       0.463039  0.000000  0.000000
John Smith                      0.000000       0.451775  0.000000  0.000000
Liam Brown                      0.000000       0.481979  0.000000  0.000000
Liam Harris                     0.248453       0.000000  0.148623  0.071510
Lucas Brown                     0.139922       0.000000  0.000000  0.174513
Mason White                     0.000000       0.409668  0.000000  0.000000
Mia Johnson                     0.312527       0.000000  0.328921  0.184637
Mia Lee                         0.000000       0.400028  0.000000  0.000000
Noah Davis                      0.000000       0.343661  0.000000  0.000000
Noah Martinez                   0.256879       0.000000  0.057075  0.149513
Oliver Thompson                 0.105685       0.000000  0.176113  0.329531
Olivia Clark                    0.000000       0.565704  0.000000  0.000000
Rahul                           0.327203       0.000000  0.372154  0.233197
Rohit                           0.377742       0.000000  0.343345  0.367112
Salman Khan                     0.380664       0.000000  0.350909  0.303046
Sanjay DuttAiden Smith          0.391115       0.000000  0.222188  0.099779
Sarukh khan                     0.263198       0.000000  0.116958  0.164133
Saurav                          0.472805       0.000000  0.303030  0.136083
Sophia Rodriguez                1.000000       0.000000  0.282691  0.066815
Sophia Wilson                   0.000000       1.000000  0.000000  0.000000
Sujeet                          0.282691       0.000000  1.000000  0.241238
Vicky                           0.066815       0.000000  0.241238  1.000000
Zoe Williams                    0.368676       0.000000  0.175531  0.073900

Influencer_name         Zoe Williams
Influencer_name
Akshay                      0.223116
Amelia Taylor               0.111477
Amitabh                     0.076042
Ankit                       0.047795
Ashwin                      0.040652
Ava Wilson                  0.000000
Elijah White                0.155256
Emma Garcia                 0.412004
Emma Taylor                 0.000000
Ethan Jones                 0.208930
Faisal                      0.123273
Gagan                       0.260953
Gaurav                      0.000000
Isabella Anderson           0.217623
Isabella Moore              0.000000
Jackson Lee                 0.088977
Jane Doe                    0.000000
John Smith                  0.000000
Liam Brown                  0.000000
Liam Harris                 0.450948
Lucas Brown                 0.149026
Mason White                 0.000000
Mia Johnson                 0.145543
Mia Lee                     0.000000
Noah Davis                  0.000000
Noah Martinez               0.227292
Oliver Thompson             0.051951
Olivia Clark                0.000000
Rahul                       0.091910
Rohit                       0.195332
Salman Khan                 0.143328
Sanjay DuttAiden Smith      0.209738
Sarukh khan                 0.051752
Saurav                      0.134086
Sophia Rodriguez            0.368676
Sophia Wilson               0.000000
Sujeet                      0.175531
Vicky                       0.073900
Zoe Williams                1.000000

[39 rows x 39 columns]

hybrid

In [57]:
import spacy
from spacy.lang.en.stop_words import STOP_WORDS

nlp = spacy.load("en_core_web_sm")

def clean_and_extract_tags(text):
    doc = nlp(text.lower())
    tags = [token.text for token in doc if token.text.isalnum() and token.text not in STOP_WORDS]
    return ', '.join(tags)

columns_to_extract_tags_from = ['Category', 'audience_location', 'audience_age','audience_gender','Platform']

for column in columns_to_extract_tags_from:
    merged_dataset[column] = merged_dataset[column].apply(clean_and_extract_tags)

In [58]:
# Concatenate the cleaned tags from all relevant columns
merged_dataset['Tags'] = merged_dataset[columns_to_extract_tags_from].apply(lambda row: ', '.join(row), axis=1)

In [59]:
merged_dataset.head()

,id,brand_name,target_category,target_age,target_gender,target_location,Influencer_name,Handle,Followers,Posts,Likes,Category,Sentiment,audience_location,audience_age,audience_gender,Platform,Engagement_rate,Interaction,Tags
0,1,Brand72,Nutrition Products,15-24,Female,Kerala,Jane Doe,@emma.t,340770,986,31587,"nutrition, products",Positive,kerala,"15, 24",male,tiktok,48.207237,1,"nutrition, products, kerala, 15, 24, male, tiktok"
1,2,Brand88,Smartphones,All,Male,Gujarat,Mia Lee,@jane.doe,702603,847,49725,smartphones,Positive,gujarat,,,twitter,48.207237,1,"smartphones, gujarat, , , twitter"
2,3,Brand55,Home Appliances,18-30,Male,Kerala,John Smith,@noah.d,113855,241,41587,"home, appliances",Positive,kerala,"18, 30",male,instagram,47.116354,1,"home, appliances, kerala, 18, 30, male, instagram"
3,4,Brand84,Gadgets,15-24,Male,Kerala,Emma Taylor,@jane.doe,202147,944,8042,gadgets,Negative,kerala,"15, 24",,facebook,47.116354,1,"gadgets, kerala, 15, 24, , facebook"
4,5,Brand43,Home Appliances,40-50,All,Tamil Nadu,Mason White,@john.smith,495171,508,30531,"home, appliances",Negative,"tamil, nadu","40, 50",female,instagram,36.526283,1,"home, appliances, tamil, nadu, 40, 50, female,..."

In [60]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

tfidf_vectorizer = TfidfVectorizer(stop_words='english')
tfidf_matrix_content = tfidf_vectorizer.fit_transform(merged_dataset['Tags'])
cosine_similarities_content = cosine_similarity(tfidf_matrix_content,tfidf_matrix_content)

search based

In [61]:
def search_similar_items(user_input, merged_dataset, tfidf_vectorizer, tfidf_matrix_content, top_n=10):
    # Vectorize the user input
    user_input_tfidf = tfidf_vectorizer.transform([user_input])

    # Compute cosine similarity between user input and the existing items
    cosine_similarities = cosine_similarity(user_input_tfidf, tfidf_matrix_content).flatten()

    # Get the indices of the top N most similar items
    similar_item_indices = cosine_similarities.argsort()[-top_n:][::-1]

    # Extract the most similar items' details
    similar_items = merged_dataset.iloc[similar_item_indices][['Influencer_name', 'Category',  'audience_location', 'audience_age', 'audience_gender', 'Platform', 'Interaction']]
    
    
    
    # Print the results in table format
    print(similar_items.to_string(index=False))  # Display the table without index numbers

    return similar_items

# Example usage:
user_input = " Gadgets India"  # User provides tags
similar_items = search_similar_items(user_input, merged_dataset, tfidf_vectorizer, tfidf_matrix_content, top_n=5)

Influencer_name    Category audience_location audience_age audience_gender  Platform  Interaction
   Olivia Clark     gadgets             india       30, 45                   youtube            1
     Noah Davis     gadgets             india       25, 40            male instagram            1
     Noah Davis       books             india                         male    tiktok            1
    Emma Taylor smartphones             india       18, 30          female   youtube            1
       Jane Doe   cosmetics             india       18, 25                    tiktok            1

In [63]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Sample merged data (replace this with your actual merged_dataset)


# Preview the interaction matrix
# print("Interaction Matrix:")
# print(interaction_data)

# 2. Compute Item-Based Collaborative Filtering
item_similarity = cosine_similarity(interaction_data.T)
item_similarity_df = pd.DataFrame(item_similarity, index=interaction_data.columns, columns=interaction_data.columns)

# Preview item similarity matrix
# print("\nItem Similarity Matrix:")
# print(item_similarity_df)

# 3. Content-Based Similarity
tfidf_vectorizer = TfidfVectorizer(stop_words='english')
tfidf_matrix_content = tfidf_vectorizer.fit_transform(merged_dataset['Tags'])
cosine_similarities_content = cosine_similarity(tfidf_matrix_content, tfidf_matrix_content)

def search_similar_items_content(user_input, merged_data, tfidf_vectorizer, tfidf_matrix_content, top_n=5):
    user_input_tfidf = tfidf_vectorizer.transform([user_input])
    cosine_similarities = cosine_similarity(user_input_tfidf, tfidf_matrix_content).flatten()
    similar_item_indices = cosine_similarities.argsort()[-top_n:][::-1]
    return merged_dataset.iloc[similar_item_indices]

# Example user input for content-based search
user_input_content = "youtube, Delhi, Male"
similar_items_content = search_similar_items_content(user_input_content, merged_dataset, tfidf_vectorizer, tfidf_matrix_content, top_n=6)
# print("\nContent-Based Recommendations:")
# print(similar_items_content[['Influencer_name', 'Tags', 'Interaction']].to_string(index=False))

# 4. Recommend Similar Influencers based on collaborative filtering
def recommend_similar_influencers(influencer_name, item_similarity_df, top_n=6):
    if influencer_name not in item_similarity_df.index:
        return pd.DataFrame()
    
    influencer_similarities = item_similarity_df[influencer_name].sort_values(ascending=False)
    influencer_similarities = influencer_similarities.drop(labels=[influencer_name])
    return influencer_similarities.head(top_n)

# Example usage for collaborative filtering
collab_influencers = recommend_similar_influencers('Influencer_A', item_similarity_df, top_n=5)
# print("\nCollaborative Filtering Recommendations:")
# print(collab_influencers)

# 5. Merge Recommendations
# For demonstration, let's assume we want to merge the content and collaborative recommendations
merged_recommendations = pd.concat([similar_items_content[['Influencer_name', 'Category',  'audience_location', 'audience_age', 'audience_gender', 'Platform', 'Interaction']],
                                     collab_influencers.reset_index().rename(columns={'index': 'Influencer_name', 0: 'Collaborative_Similarity'})], 
                                    ignore_index=True)

print("\nMerged Recommendations:")
print(merged_recommendations)

merged_recommendations.to_csv('results.csv')

Merged Recommendations:
    Influencer_name              Category audience_location audience_age  \
0       Liam Harris           smartphones             delhi       30, 45
1            Ashwin             cosmetics             delhi       30, 45
2             Gagan   nutrition, products             delhi       18, 30
3  Sophia Rodriguez      gaming, products             delhi       18, 25
4        Noah Davis                 books             delhi       40, 50
5  Sophia Rodriguez  fashion, accessories             delhi       25, 40

  audience_gender Platform  Interaction
0            male  youtube          0.0
1            male  youtube          1.0
2            male  youtube          0.0
3            male  youtube          1.0
4            male  youtube          1.0
5            male  youtube          0.0

Microsoft recommenders