In [5]:
import pandas as pd

In [6]:
brand_data = pd.read_csv('brand_dataset_extended.csv')

In [7]:
brand_data['target_category'].unique()

array(['Nutrition Products', 'Smartphones', 'Home Appliances', 'Gadgets',
       'Fashion Accessories', 'Eco-friendly Goods', 'Travel Services',
       'Food Products', 'Gaming Products', 'Cosmetics', 'Pet Supplies',
       'Books', 'Clothing', 'Art Supplies', 'Fitness Equipment'],
      dtype=object)

In [8]:
influencer_data = pd.read_csv('influencer_dataset_extended.csv')

In [9]:
influencer_data.columns

Index(['id', 'Influencer_name', 'Handle', 'Followers', 'Posts', 'Likes',
       'Category', 'Sentiment', 'audience_location', 'audience_age',
       'audience_gender', 'Platform', 'Engagement_rate'],
      dtype='object')

In [10]:
influencer_data['Category'].unique()

array(['Nutrition Products', 'Smartphones', 'Home Appliances', 'Gadgets',
       'Fashion Accessories', 'Eco-friendly Goods', 'Travel Services',
       'Food Products', 'Gaming Products', 'Cosmetics', 'Pet Supplies',
       'Books', 'Clothing', 'Art Supplies', 'Fitness Equipment'],
      dtype=object)

In [11]:
import random
influencer_data["Ratings"] = [random.randint(1,5) for _ in range (len(influencer_data))]

influencer_data["views"] = [random.randint(10000, 10000000) for _ in range(len(influencer_data))]
influencer_data.columns

Index(['id', 'Influencer_name', 'Handle', 'Followers', 'Posts', 'Likes',
       'Category', 'Sentiment', 'audience_location', 'audience_age',
       'audience_gender', 'Platform', 'Engagement_rate', 'Ratings', 'views'],
      dtype='object')

In [12]:
brand_data.head()

   id brand_name     target_category target_age target_gender target_location
0   1    Brand72  Nutrition Products      15-24        Female          Kerala
1   2    Brand88         Smartphones        All          Male         Gujarat
2   3    Brand55     Home Appliances      18-30          Male          Kerala
3   4    Brand84             Gadgets      15-24          Male          Kerala
4   5    Brand43     Home Appliances      40-50           All      Tamil Nadu

In [13]:
influencer_data = influencer_data.drop(columns=["Handle" , "Posts" , "Likes", "Sentiment"])

influencer_data.columns

Index(['id', 'Influencer_name', 'Followers', 'Category', 'audience_location',
       'audience_age', 'audience_gender', 'Platform', 'Engagement_rate',
       'Ratings', 'views'],
      dtype='object')

In [14]:
#merging both database

merged_data = pd.merge( brand_data, influencer_data, on = 'id', how = 'right')

In [15]:
merged_data.head()

,id,brand_name,target_category,target_age,target_gender,target_location,Influencer_name,Followers,Category,audience_location,audience_age,audience_gender,Platform,Engagement_rate,Ratings,views
0,1,Brand72,Nutrition Products,15-24,Female,Kerala,Jane Doe,340770,Nutrition Products,Kerala,15-24,Male,TikTok,48.207237,4,7278548
1,2,Brand88,Smartphones,All,Male,Gujarat,Mia Lee,702603,Smartphones,Gujarat,All,All,Twitter,48.207237,1,6902850
2,3,Brand55,Home Appliances,18-30,Male,Kerala,John Smith,113855,Home Appliances,Kerala,18-30,Male,Instagram,47.116354,4,7947217
3,4,Brand84,Gadgets,15-24,Male,Kerala,Emma Taylor,202147,Gadgets,Kerala,15-24,All,Facebook,47.116354,1,1207655
4,5,Brand43,Home Appliances,40-50,All,Tamil Nadu,Mason White,495171,Home Appliances,Tamil Nadu,40-50,Female,Instagram,36.526283,2,7342663

In [16]:
merged_data.to_csv("merged_data.csv",index=False)

In [17]:
merged_dataset = pd.read_csv("merged_data.csv")

In [18]:
merged_dataset.sort_values

<bound method DataFrame.sort_values of         id brand_name      target_category target_age target_gender  \
0        1    Brand72   Nutrition Products      15-24        Female
1        2    Brand88          Smartphones        All          Male
2        3    Brand55      Home Appliances      18-30          Male
3        4    Brand84              Gadgets      15-24          Male
4        5    Brand43      Home Appliances      40-50           All
...    ...        ...                  ...        ...           ...
1595  1596   Brand146  Fashion Accessories      18-30           All
1596  1597   Brand107      Gaming Products      22-40        Female
1597  1598   Brand149   Eco-friendly Goods        All          Male
1598  1599   Brand125          Smartphones      18-30           All
1599  1600   Brand119  Fashion Accessories      15-24           All

     target_location         Influencer_name  Followers            Category  \
0             Kerala                Jane Doe     340770  Nutrition Products
1            Gujarat                 Mia Lee     702603         Smartphones
2             Kerala              John Smith     113855     Home Appliances
3             Kerala             Emma Taylor     202147             Gadgets
4         Tamil Nadu             Mason White     495171     Home Appliances
...              ...                     ...        ...                 ...
1595   Uttar Pradesh       Isabella Anderson     338287  Nutrition Products
1596       Karnataka                   Rohit     801403  Nutrition Products
1597     Maharashtra  Sanjay DuttAiden Smith     360266         Smartphones
1598  Madhya Pradesh                 Amitabh     230748     Home Appliances
1599           Delhi             Lucas Brown     856447         Smartphones

     audience_location audience_age audience_gender   Platform  \
0               Kerala        15-24            Male     TikTok
1              Gujarat          All             All    Twitter
2               Kerala        18-30            Male  Instagram
3               Kerala        15-24             All   Facebook
4           Tamil Nadu        40-50          Female  Instagram
...                ...          ...             ...        ...
1595     Uttar Pradesh        18-30          Female    Youtube
1596             Delhi        18-30             All     Tiktok
1597     Uttar Pradesh        18-30          Female    Youtube
1598        Tamil Nadu        25-40          Female   Facebook
1599         Karnataka        18-30             All  Instagram

      Engagement_rate  Ratings    views
0           48.207237        4  7278548
1           48.207237        1  6902850
2           47.116354        4  7947217
3           47.116354        1  1207655
4           36.526283        2  7342663
...               ...      ...      ...
1595         6.772122        4  8831573
1596         6.676725        1  8382245
1597         6.676725        2  9885610
1598         6.671060        4  4455796
1599         6.671060        5  6465287

[1600 rows x 16 columns]>

creating new column for brand-influencer interaction

In [19]:
#if engagment rate > 5 then interaction = 1 else 0

import pandas as pd

# Sample merged_data DataFrame creation (you would already have this)



# Define interaction criteria on the basis of 
Rating_threshold = 3  # For example, consider an interaction if likes are above this threshold

# Add interaction column (1 for interaction, 0 for no interaction)
merged_dataset['int_ratings'] = (merged_dataset['Ratings'] > Rating_threshold).astype(int)

# Preview the updated DataFrame
print(merged_dataset.columns)

Index(['id', 'brand_name', 'target_category', 'target_age', 'target_gender',
       'target_location', 'Influencer_name', 'Followers', 'Category',
       'audience_location', 'audience_age', 'audience_gender', 'Platform',
       'Engagement_rate', 'Ratings', 'views', 'int_ratings'],
      dtype='object')

In [20]:
merged_dataset['int_ratings'].unique()

array([1, 0])

In [21]:
merged_dataset.columns

Index(['id', 'brand_name', 'target_category', 'target_age', 'target_gender',
       'target_location', 'Influencer_name', 'Followers', 'Category',
       'audience_location', 'audience_age', 'audience_gender', 'Platform',
       'Engagement_rate', 'Ratings', 'views', 'int_ratings'],
      dtype='object')

create interaction matrix

In [22]:
# Create interaction matrix based on the new Interaction column
interaction_data = pd.pivot_table(
    merged_dataset,
    index='brand_name',
    columns='Influencer_name',
    values='int_ratings',
    fill_value=0
)

# Preview the interaction matrix
print(interaction_data)
interaction_data.columns

Influencer_name  Akshay  Amelia Taylor  Amitabh  Ankit  Ashwin  Ava Wilson  \
brand_name
Brand1              0.0            0.0      0.0    0.0     0.0         0.0
Brand10             0.0            0.0      0.0    0.0     0.0         0.0
Brand100            0.0            0.0      0.0    0.0     0.0         0.0
Brand101            0.0            0.0      0.0    0.0     0.0         0.0
Brand102            0.0            1.0      0.0    0.0     0.0         0.0
...                 ...            ...      ...    ...     ...         ...
Brand95             0.0            0.0      0.0    0.0     0.0         0.0
Brand96             0.0            0.0      0.0    0.0     0.0         0.0
Brand97             0.0            0.0      0.0    0.0     0.0         0.0
Brand98             0.0            0.0      0.0    0.0     0.0         0.0
Brand99             0.0            0.0      0.0    0.0     0.0         0.0

Influencer_name  Elijah White  Emma Garcia  Emma Taylor  Ethan Jones  ...  \
brand_name                                                            ...
Brand1                    0.0          0.0     0.000000          0.0  ...
Brand10                   0.0          0.0     0.000000          0.0  ...
Brand100                  0.0          0.0     0.000000          0.0  ...
Brand101                  0.0          0.0     0.000000          1.0  ...
Brand102                  0.0          0.0     0.000000          0.5  ...
...                       ...          ...          ...          ...  ...
Brand95                   0.0          0.0     0.000000          0.0  ...
Brand96                   0.0          0.0     0.000000          0.0  ...
Brand97                   0.0          0.0     0.666667          0.0  ...
Brand98                   0.0          0.0     1.000000          0.0  ...
Brand99                   0.0          0.0     0.000000          0.0  ...

Influencer_name  Rohit  Salman Khan  Sanjay DuttAiden Smith  Sarukh khan  \
brand_name
Brand1             0.0          0.0                     0.0          0.0
Brand10            0.0          0.0                     0.0          0.0
Brand100           0.0          0.0                     0.0          0.0
Brand101           0.0          0.0                     0.0          0.0
Brand102           0.0          0.0                     0.0          0.0
...                ...          ...                     ...          ...
Brand95            0.0          0.0                     0.0          0.0
Brand96            0.0          0.0                     0.0          0.0
Brand97            0.0          0.0                     0.0          0.0
Brand98            0.0          0.0                     0.0          0.0
Brand99            0.0          0.0                     0.0          0.0

Influencer_name  Saurav  Sophia Rodriguez  Sophia Wilson    Sujeet  Vicky  \
brand_name
Brand1              0.0               0.0            0.0  0.000000    0.0
Brand10             0.0               0.0            1.0  0.000000    0.0
Brand100            0.0               0.0            0.0  0.000000    0.0
Brand101            0.0               0.0            0.0  0.666667    0.0
Brand102            0.0               0.0            0.0  0.000000    0.0
...                 ...               ...            ...       ...    ...
Brand95             0.0               0.0            0.0  0.000000    0.0
Brand96             0.0               0.0            0.0  0.000000    0.0
Brand97             0.0               0.0            0.0  0.000000    0.0
Brand98             0.0               0.0            0.0  0.000000    0.0
Brand99             0.0               0.0            0.0  0.000000    0.0

Influencer_name  Zoe Williams
brand_name
Brand1                    0.0
Brand10                   0.0
Brand100                  0.0
Brand101                  0.0
Brand102                  1.0
...                       ...
Brand95                   0.0
Brand96                   0.0
Brand97                   0.0
Brand98                   0.0
Brand99                   0.0

[149 rows x 39 columns]

Index(['Akshay', 'Amelia Taylor', 'Amitabh', 'Ankit', 'Ashwin', 'Ava Wilson',
       'Elijah White', 'Emma Garcia', 'Emma Taylor', 'Ethan Jones', 'Faisal',
       'Gagan', 'Gaurav', 'Isabella Anderson', 'Isabella Moore', 'Jackson Lee',
       'Jane Doe', 'John Smith', 'Liam Brown', 'Liam Harris', 'Lucas Brown',
       'Mason White', 'Mia Johnson', 'Mia Lee', 'Noah Davis', 'Noah Martinez',
       'Oliver Thompson', 'Olivia Clark', 'Rahul', 'Rohit', 'Salman Khan',
       'Sanjay DuttAiden Smith', 'Sarukh khan', 'Saurav', 'Sophia Rodriguez',
       'Sophia Wilson', 'Sujeet', 'Vicky', 'Zoe Williams'],
      dtype='object', name='Influencer_name')

user based collaborative filtering

In [23]:
from sklearn.metrics.pairwise import cosine_similarity

# Compute cosine similarity between brands
user_similarity = cosine_similarity(interaction_data)

# Convert to DataFrame for easier handling
user_similarity_df = pd.DataFrame(user_similarity, index=interaction_data.index, columns=interaction_data.index)

# Preview user similarity matrix
print(user_similarity_df)

brand_name    Brand1  Brand10  Brand100  Brand101  Brand102  Brand103  \
brand_name
Brand1      1.000000      0.0  0.000000  0.000000  0.000000       0.0
Brand10     0.000000      1.0  0.000000  0.000000  0.000000       0.0
Brand100    0.000000      0.0  1.000000  0.000000  0.000000       0.0
Brand101    0.000000      0.0  0.000000  1.000000  0.158114       0.0
Brand102    0.000000      0.0  0.000000  0.158114  1.000000       0.0
...              ...      ...       ...       ...       ...       ...
Brand95     0.182574      0.0  0.000000  0.000000  0.000000       0.0
Brand96     0.577350      0.0  0.000000  0.000000  0.000000       0.0
Brand97     0.000000      0.0  0.000000  0.000000  0.000000       0.0
Brand98     0.000000      0.0  0.492366  0.000000  0.000000       0.0
Brand99     0.258199      0.0  0.000000  0.000000  0.000000       0.0

brand_name  Brand104  Brand105  Brand106  Brand107  ...   Brand90   Brand91  \
brand_name                                          ...
Brand1      0.000000       0.0   0.00000  0.000000  ...  0.000000  0.000000
Brand10     0.000000       0.0   0.00000  0.000000  ...  0.000000  0.000000
Brand100    0.000000       0.0   0.00000  0.000000  ...  0.000000  0.000000
Brand101    0.250763       0.3   0.35878  0.217643  ...  0.000000  0.000000
Brand102    0.396491       0.0   0.00000  0.152944  ...  0.000000  0.000000
...              ...       ...       ...       ...  ...       ...       ...
Brand95     0.000000       0.0   0.00000  0.000000  ...  0.316228  0.632456
Brand96     0.000000       0.0   0.00000  0.000000  ...  0.000000  0.000000
Brand97     0.000000       0.0   0.00000  0.000000  ...  0.600000  0.000000
Brand98     0.000000       0.0   0.00000  0.000000  ...  0.000000  0.000000
Brand99     0.000000       0.0   0.00000  0.000000  ...  0.894427  0.000000

brand_name   Brand92   Brand93   Brand94   Brand95   Brand96   Brand97  \
brand_name
Brand1      0.577350  0.577350  0.000000  0.182574  0.577350  0.000000
Brand10     0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
Brand100    0.000000  0.000000  0.707107  0.000000  0.000000  0.000000
Brand101    0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
Brand102    0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
...              ...       ...       ...       ...       ...       ...
Brand95     0.316228  0.316228  0.000000  1.000000  0.316228  0.189737
Brand96     1.000000  1.000000  0.000000  0.316228  1.000000  0.000000
Brand97     0.000000  0.000000  0.000000  0.189737  0.000000  1.000000
Brand98     0.000000  0.000000  0.000000  0.110096  0.000000  0.557048
Brand99     0.000000  0.000000  0.000000  0.282843  0.000000  0.536656

brand_name   Brand98   Brand99
brand_name
Brand1      0.000000  0.258199
Brand10     0.000000  0.000000
Brand100    0.492366  0.000000
Brand101    0.000000  0.000000
Brand102    0.000000  0.000000
...              ...       ...
Brand95     0.110096  0.282843
Brand96     0.000000  0.000000
Brand97     0.557048  0.536656
Brand98     1.000000  0.000000
Brand99     0.000000  1.000000

[149 rows x 149 columns]

Item-based collaborative filtering

In [24]:
# Compute cosine similarity between influencers
item_similarity = cosine_similarity(interaction_data.T)

# Convert to DataFrame for easier handling
item_similarity_df = pd.DataFrame(item_similarity, index=interaction_data.columns, columns=interaction_data.columns)

# Preview item similarity matrix
print(item_similarity_df)

Influencer_name           Akshay  Amelia Taylor   Amitabh     Ankit    Ashwin  \
Influencer_name
Akshay                  1.000000       0.185846  0.173850  0.190299  0.067236
Amelia Taylor           0.185846       1.000000  0.212675  0.234753  0.151074
Amitabh                 0.173850       0.212675  1.000000  0.312930  0.208843
Ankit                   0.190299       0.234753  0.312930  1.000000  0.345785
Ashwin                  0.067236       0.151074  0.208843  0.345785  1.000000
Ava Wilson              0.316878       0.110756  0.262470  0.147876  0.108760
Elijah White            0.205997       0.154286  0.162502  0.264853  0.269344
Emma Garcia             0.298232       0.154427  0.297345  0.176730  0.118472
Emma Taylor             0.000000       0.000000  0.000000  0.000000  0.000000
Ethan Jones             0.061829       0.211602  0.192047  0.175181  0.106105
Faisal                  0.062856       0.439388  0.325396  0.251423  0.215735
Gagan                   0.154725       0.270398  0.240297  0.000000  0.132763
Gaurav                  0.096183       0.092450  0.169296  0.163512  0.209079
Isabella Anderson       0.365753       0.130744  0.258199  0.382379  0.313838
Isabella Moore          0.000000       0.000000  0.000000  0.000000  0.000000
Jackson Lee             0.503028       0.065118  0.270056  0.102469  0.079931
Jane Doe                0.000000       0.000000  0.000000  0.000000  0.000000
John Smith              0.000000       0.000000  0.000000  0.000000  0.000000
Liam Brown              0.000000       0.000000  0.000000  0.000000  0.000000
Liam Harris             0.288012       0.155440  0.236806  0.237186  0.247131
Lucas Brown             0.453726       0.015650  0.278157  0.125372  0.076840
Mason White             0.000000       0.000000  0.000000  0.000000  0.000000
Mia Johnson             0.343434       0.250078  0.118528  0.228956  0.130972
Mia Lee                 0.000000       0.000000  0.000000  0.000000  0.000000
Noah Davis              0.000000       0.000000  0.000000  0.000000  0.000000
Noah Martinez           0.000000       0.000000  0.355851  0.229128  0.000000
Oliver Thompson         0.157601       0.295098  0.000000  0.360231  0.231824
Olivia Clark            0.000000       0.000000  0.000000  0.000000  0.000000
Rahul                   0.187861       0.289683  0.389013  0.088405  0.028446
Rohit                   0.134078       0.195264  0.381759  0.469275  0.354729
Salman Khan             0.197680       0.496609  0.153505  0.296520  0.021203
Sanjay DuttAiden Smith  0.191093       0.405517  0.226117  0.320763  0.070272
Sarukh khan             0.101651       0.266469  0.210494  0.000000  0.348890
Saurav                  0.037407       0.326860  0.464758  0.149626  0.160485
Sophia Rodriguez        0.112661       0.213294  0.272174  0.394313  0.418901
Sophia Wilson           0.000000       0.000000  0.000000  0.000000  0.000000
Sujeet                  0.175224       0.516752  0.396863  0.262837  0.181676
Vicky                   0.446719       0.246533  0.146059  0.305650  0.030261
Zoe Williams            0.452748       0.383715  0.000000  0.326795  0.157730

Influencer_name         Ava Wilson  Elijah White  Emma Garcia  Emma Taylor  \
Influencer_name
Akshay                    0.316878      0.205997     0.298232     0.000000
Amelia Taylor             0.110756      0.154286     0.154427     0.000000
Amitabh                   0.262470      0.162502     0.297345     0.000000
Ankit                     0.147876      0.264853     0.176730     0.000000
Ashwin                    0.108760      0.269344     0.118472     0.000000
Ava Wilson                1.000000      0.166609     0.354367     0.000000
Elijah White              0.166609      1.000000     0.154869     0.000000
Emma Garcia               0.354367      0.154869     1.000000     0.000000
Emma Taylor               0.000000      0.000000     0.000000     1.000000
Ethan Jones               0.194470      0.018060     0.142354     0.000000
Faisal                    0.118620      0.275403     0.248089     0.000000
Gagan                     0.194663      0.203379     0.178119     0.000000
Gaurav                    0.272274      0.185429     0.199307     0.000000
Isabella Anderson         0.329435      0.378786     0.311690     0.000000
Isabella Moore            0.000000      0.000000     0.000000     0.157335
Jackson Lee               0.334015      0.163261     0.349290     0.000000
Jane Doe                  0.000000      0.000000     0.000000     0.409802
John Smith                0.000000      0.000000     0.000000     0.181860
Liam Brown                0.000000      0.000000     0.000000     0.078516
Liam Harris               0.143876      0.207847     0.050152     0.000000
Lucas Brown               0.304199      0.188338     0.282765     0.000000
Mason White               0.000000      0.000000     0.000000     0.172609
Mia Johnson               0.135026      0.401270     0.272987     0.000000
Mia Lee                   0.000000      0.000000     0.000000     0.181029
Noah Davis                0.000000      0.000000     0.000000     0.136219
Noah Martinez             0.288272      0.156167     0.075364     0.000000
Oliver Thompson           0.318666      0.059188     0.044432     0.000000
Olivia Clark              0.000000      0.000000     0.000000     0.290381
Rahul                     0.145982      0.135572     0.327124     0.000000
Rohit                     0.042172      0.156658     0.253577     0.000000
Salman Khan               0.139897      0.108267     0.000000     0.000000
Sanjay DuttAiden Smith    0.309109      0.143533     0.363650     0.000000
Sarukh khan               0.191834      0.000000     0.000000     0.000000
Saurav                    0.070593      0.196677     0.024607     0.000000
Sophia Rodriguez          0.124023      0.296175     0.314974     0.000000
Sophia Wilson             0.000000      0.000000     0.000000     0.245057
Sujeet                    0.062003      0.086372     0.270158     0.000000
Vicky                     0.399335      0.061810     0.313197     0.000000
Zoe Williams              0.115636      0.268474     0.070539     0.000000

Influencer_name         Ethan Jones  ...     Rohit  Salman Khan  \
Influencer_name                      ...
Akshay                     0.061829  ...  0.134078     0.197680
Amelia Taylor              0.211602  ...  0.195264     0.496609
Amitabh                    0.192047  ...  0.381759     0.153505
Ankit                      0.175181  ...  0.469275     0.296520
Ashwin                     0.106105  ...  0.354729     0.021203
Ava Wilson                 0.194470  ...  0.042172     0.139897
Elijah White               0.018060  ...  0.156658     0.108267
Emma Garcia                0.142354  ...  0.253577     0.000000
Emma Taylor                0.000000  ...  0.000000     0.000000
Ethan Jones                1.000000  ...  0.000000     0.352579
Faisal                     0.173587  ...  0.439171     0.323748
Gagan                      0.332344  ...  0.090088     0.056924
Gaurav                     0.119533  ...  0.307215     0.191086
Isabella Anderson          0.229567  ...  0.298696     0.000000
Isabella Moore             0.000000  ...  0.000000     0.000000
Jackson Lee                0.268693  ...  0.278940     0.123377
Jane Doe                   0.000000  ...  0.000000     0.000000
John Smith                 0.000000  ...  0.000000     0.000000
Liam Brown                 0.000000  ...  0.000000     0.000000
Liam Harris                0.230041  ...  0.202924     0.168290
Lucas Brown                0.328100  ...  0.187708     0.158142
Mason White                0.000000  ...  0.000000     0.000000
Mia Johnson                0.193204  ...  0.238052     0.252702
Mia Lee                    0.000000  ...  0.000000     0.000000
Noah Davis                 0.000000  ...  0.000000     0.000000
Noah Martinez              0.386699  ...  0.076234     0.042149
Oliver Thompson            0.300525  ...  0.067418     0.596387
Olivia Clark               0.000000  ...  0.000000     0.000000
Rahul                      0.366220  ...  0.308842     0.024393
Rohit                      0.000000  ...  1.000000     0.147984
Salman Khan                0.352579  ...  0.147984     1.000000
Sanjay DuttAiden Smith     0.018848  ...  0.163489     0.135586
Sarukh khan                0.280728  ...  0.000000     0.000000
Saurav                     0.137740  ...  0.410707     0.357813
Sophia Rodriguez           0.207422  ...  0.293622     0.000000
Sophia Wilson              0.000000  ...  0.000000     0.000000
Sujeet                     0.241957  ...  0.327935     0.217572
Vicky                      0.032466  ...  0.140807     0.155700
Zoe Williams               0.244428  ...  0.203867     0.270516

Influencer_name         Sanjay DuttAiden Smith  Sarukh khan    Saurav  \
Influencer_name
Akshay                                0.191093     0.101651  0.037407
Amelia Taylor                         0.405517     0.266469  0.326860
Amitabh                               0.226117     0.210494  0.464758
Ankit                                 0.320763     0.000000  0.149626
Ashwin                                0.070272     0.348890  0.160485
Ava Wilson                            0.309109     0.191834  0.070593
Elijah White                          0.143533     0.000000  0.196677
Emma Garcia                           0.363650     0.000000  0.024607
Emma Taylor                           0.000000     0.000000  0.000000
Ethan Jones                           0.018848     0.280728  0.137740
Faisal                                0.306573     0.190261  0.630126
Gagan                                 0.172942     0.351257  0.215432
Gaurav                                0.347936     0.232914  0.171420
Isabella Anderson                     0.243263     0.188713  0.101852
Isabella Moore                        0.000000     0.000000  0.000000
Jackson Lee                           0.128732     0.112788  0.249029
Jane Doe                              0.000000     0.000000  0.000000
John Smith                            0.000000     0.000000  0.000000
Liam Brown                            0.000000     0.000000  0.000000
Liam Harris                           0.061974     0.076923  0.339683
Lucas Brown                           0.316664     0.000000  0.149625
Mason White                           0.000000     0.000000  0.000000
Mia Johnson                           0.139589     0.086630  0.000000
Mia Lee                               0.000000     0.000000  0.000000
Noah Davis                            0.000000     0.000000  0.000000
Noah Martinez                         0.046565     0.115593  0.368655
Oliver Thompson                       0.247077     0.204450  0.225706
Olivia Clark                          0.000000     0.000000  0.000000
Rahul                                 0.161696     0.301047  0.332347
Rohit                                 0.163489     0.000000  0.410707
Salman Khan                           0.135586     0.000000  0.357813
Sanjay DuttAiden Smith                1.000000     0.165265  0.091224
Sarukh khan                           0.165265     1.000000  0.056614
Saurav                                0.091224     0.056614  1.000000
Sophia Rodriguez                      0.343433     0.227345  0.062746
Sophia Wilson                         0.000000     0.000000  0.000000
Sujeet                                0.400614     0.198898  0.195180
Vicky                                 0.215016     0.000000  0.000000
Zoe Williams                          0.124525     0.000000  0.136505

Influencer_name         Sophia Rodriguez  Sophia Wilson    Sujeet     Vicky  \
Influencer_name
Akshay                          0.112661       0.000000  0.175224  0.446719
Amelia Taylor                   0.213294       0.000000  0.516752  0.246533
Amitabh                         0.272174       0.000000  0.396863  0.146059
Ankit                           0.394313       0.000000  0.262837  0.305650
Ashwin                          0.418901       0.000000  0.181676  0.030261
Ava Wilson                      0.124023       0.000000  0.062003  0.399335
Elijah White                    0.296175       0.000000  0.086372  0.061810
Emma Garcia                     0.314974       0.000000  0.270158  0.313197
Emma Taylor                     0.000000       0.245057  0.000000  0.000000
Ethan Jones                     0.207422       0.000000  0.241957  0.032466
Faisal                          0.263584       0.000000  0.348466  0.000000
Gagan                           0.173023       0.000000  0.000000  0.162489
Gaurav                          0.161338       0.000000  0.219566  0.181818
Isabella Anderson               0.250982       0.000000  0.325300  0.366648
Isabella Moore                  0.000000       0.150212  0.000000  0.000000
Jackson Lee                     0.187506       0.000000  0.173157  0.234787
Jane Doe                        0.000000       0.092553  0.000000  0.000000
John Smith                      0.000000       0.247579  0.000000  0.000000
Liam Brown                      0.000000       0.085893  0.000000  0.000000
Liam Harris                     0.241554       0.000000  0.381221  0.266880
Lucas Brown                     0.195276       0.000000  0.157700  0.319753
Mason White                     0.000000       0.074084  0.000000  0.000000
Mia Johnson                     0.272035       0.000000  0.261329  0.300557
Mia Lee                         0.000000       0.227489  0.000000  0.000000
Noah Davis                      0.000000       0.105968  0.000000  0.000000
Noah Martinez                   0.256226       0.000000  0.087175  0.080209
Oliver Thompson                 0.207711       0.000000  0.066080  0.283731
Olivia Clark                    0.000000       0.328574  0.000000  0.000000
Rahul                           0.111218       0.000000  0.151357  0.278524
Rohit                           0.293622       0.000000  0.327935  0.140807
Salman Khan                     0.000000       0.000000  0.217572  0.155700
Sanjay DuttAiden Smith          0.343433       0.000000  0.400614  0.215016
Sarukh khan                     0.227345       0.000000  0.198898  0.000000
Saurav                          0.062746       0.000000  0.195180  0.000000
Sophia Rodriguez                1.000000       0.000000  0.404141  0.128174
Sophia Wilson                   0.000000       1.000000  0.000000  0.000000
Sujeet                          0.404141       0.000000  1.000000  0.092009
Vicky                           0.128174       0.000000  0.092009  1.000000
Zoe Williams                    0.222692       0.000000  0.149867  0.278845

Influencer_name         Zoe Williams
Influencer_name
Akshay                      0.452748
Amelia Taylor               0.383715
Amitabh                     0.000000
Ankit                       0.326795
Ashwin                      0.157730
Ava Wilson                  0.115636
Elijah White                0.268474
Emma Garcia                 0.070539
Emma Taylor                 0.000000
Ethan Jones                 0.244428
Faisal                      0.114687
Gagan                       0.282312
Gaurav                      0.140398
Isabella Anderson           0.288177
Isabella Moore              0.000000
Jackson Lee                 0.237956
Jane Doe                    0.000000
John Smith                  0.000000
Liam Brown                  0.000000
Liam Harris                 0.170017
Lucas Brown                 0.299559
Mason White                 0.000000
Mia Johnson                 0.313316
Mia Lee                     0.000000
Noah Davis                  0.000000
Noah Martinez               0.139357
Oliver Thompson             0.390260
Olivia Clark                0.000000
Rahul                       0.120979
Rohit                       0.203867
Salman Khan                 0.270516
Sanjay DuttAiden Smith      0.124525
Sarukh khan                 0.000000
Saurav                      0.136505
Sophia Rodriguez            0.222692
Sophia Wilson               0.000000
Sujeet                      0.149867
Vicky                       0.278845
Zoe Williams                1.000000

[39 rows x 39 columns]

In [25]:
!python -m spacy download en_core_web_sm

Collecting en-core-web-sm==3.6.0
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl (12.8 MB)
     ---------------------------------------- 0.0/12.8 MB ? eta -:--:--
     ---------------------------------------- 0.1/12.8 MB 2.2 MB/s eta 0:00:06
     - -------------------------------------- 0.5/12.8 MB 5.9 MB/s eta 0:00:03
     ----- ---------------------------------- 1.7/12.8 MB 15.2 MB/s eta 0:00:01
     ------- -------------------------------- 2.5/12.8 MB 14.9 MB/s eta 0:00:01
     ----------------- ---------------------- 5.5/12.8 MB 26.9 MB/s eta 0:00:01
     -------------------- ------------------- 6.5/12.8 MB 26.0 MB/s eta 0:00:01
     ----------------------------- ---------- 9.5/12.8 MB 30.4 MB/s eta 0:00:01
     ------------------------------- ------- 10.5/12.8 MB 38.5 MB/s eta 0:00:01
     -------------------------------- ------ 10.6/12.8 MB 31.2 MB/s eta 0:00:01
     --------------------------------------  12.6/12.8 MB 34.4 MB/s eta 0:00:01
     --------------------------------------  12.8/12.8 MB 36.3 MB/s eta 0:00:01
     --------------------------------------- 12.8/12.8 MB 27.3 MB/s eta 0:00:00
Requirement already satisfied: spacy<3.7.0,>=3.6.0 in d:\new folder\lib\site-packages (from en-core-web-sm==3.6.0) (3.6.1)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.11 in d:\new folder\lib\site-packages (from spacy<3.7.0,>=3.6.0->en-core-web-sm==3.6.0) (3.0.12)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in d:\new folder\lib\site-packages (from spacy<3.7.0,>=3.6.0->en-core-web-sm==3.6.0) (1.0.5)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in d:\new folder\lib\site-packages (from spacy<3.7.0,>=3.6.0->en-core-web-sm==3.6.0) (1.0.10)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in d:\new folder\lib\site-packages (from spacy<3.7.0,>=3.6.0->en-core-web-sm==3.6.0) (2.0.8)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in d:\new folder\lib\site-packages (from spacy<3.7.0,>=3.6.0->en-core-web-sm==3.6.0) (3.0.9)
Requirement already satisfied: thinc<8.2.0,>=8.1.8 in d:\new folder\lib\site-packages (from spacy<3.7.0,>=3.6.0->en-core-web-sm==3.6.0) (8.1.12)
Requirement already satisfied: wasabi<1.2.0,>=0.9.1 in d:\new folder\lib\site-packages (from spacy<3.7.0,>=3.6.0->en-core-web-sm==3.6.0) (1.1.3)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in d:\new folder\lib\site-packages (from spacy<3.7.0,>=3.6.0->en-core-web-sm==3.6.0) (2.4.8)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in d:\new folder\lib\site-packages (from spacy<3.7.0,>=3.6.0->en-core-web-sm==3.6.0) (2.0.10)
Requirement already satisfied: typer<0.10.0,>=0.3.0 in d:\new folder\lib\site-packages (from spacy<3.7.0,>=3.6.0->en-core-web-sm==3.6.0) (0.9.4)
Requirement already satisfied: pathy>=0.10.0 in d:\new folder\lib\site-packages (from spacy<3.7.0,>=3.6.0->en-core-web-sm==3.6.0) (0.11.0)
Requirement already satisfied: smart-open<7.0.0,>=5.2.1 in d:\new folder\lib\site-packages (from spacy<3.7.0,>=3.6.0->en-core-web-sm==3.6.0) (5.2.1)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in d:\new folder\lib\site-packages (from spacy<3.7.0,>=3.6.0->en-core-web-sm==3.6.0) (4.65.0)
Requirement already satisfied: numpy>=1.15.0 in d:\new folder\lib\site-packages (from spacy<3.7.0,>=3.6.0->en-core-web-sm==3.6.0) (1.26.4)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in d:\new folder\lib\site-packages (from spacy<3.7.0,>=3.6.0->en-core-web-sm==3.6.0) (2.31.0)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4 in d:\new folder\lib\site-packages (from spacy<3.7.0,>=3.6.0->en-core-web-sm==3.6.0) (2.7.1)
Requirement already satisfied: jinja2 in d:\new folder\lib\site-packages (from spacy<3.7.0,>=3.6.0->en-core-web-sm==3.6.0) (3.1.3)
Requirement already satisfied: setuptools in d:\new folder\lib\site-packages (from spacy<3.7.0,>=3.6.0->en-core-web-sm==3.6.0) (68.2.2)
Requirement already satisfied: packaging>=20.0 in d:\new folder\lib\site-packages (from spacy<3.7.0,>=3.6.0->en-core-web-sm==3.6.0) (23.2)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in d:\new folder\lib\site-packages (from spacy<3.7.0,>=3.6.0->en-core-web-sm==3.6.0) (3.4.1)
Requirement already satisfied: language-data>=1.2 in d:\new folder\lib\site-packages (from langcodes<4.0.0,>=3.2.0->spacy<3.7.0,>=3.6.0->en-core-web-sm==3.6.0) (1.2.0)
Requirement already satisfied: pathlib-abc==0.1.1 in d:\new folder\lib\site-packages (from pathy>=0.10.0->spacy<3.7.0,>=3.6.0->en-core-web-sm==3.6.0) (0.1.1)
Requirement already satisfied: annotated-types>=0.4.0 in d:\new folder\lib\site-packages (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->spacy<3.7.0,>=3.6.0->en-core-web-sm==3.6.0) (0.7.0)
Requirement already satisfied: pydantic-core==2.18.2 in d:\new folder\lib\site-packages (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->spacy<3.7.0,>=3.6.0->en-core-web-sm==3.6.0) (2.18.2)
Requirement already satisfied: typing-extensions>=4.6.1 in d:\new folder\lib\site-packages (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->spacy<3.7.0,>=3.6.0->en-core-web-sm==3.6.0) (4.12.0)
Requirement already satisfied: charset-normalizer<4,>=2 in d:\new folder\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy<3.7.0,>=3.6.0->en-core-web-sm==3.6.0) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in d:\new folder\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy<3.7.0,>=3.6.0->en-core-web-sm==3.6.0) (2.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in d:\new folder\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy<3.7.0,>=3.6.0->en-core-web-sm==3.6.0) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in d:\new folder\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy<3.7.0,>=3.6.0->en-core-web-sm==3.6.0) (2024.8.30)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in d:\new folder\lib\site-packages (from thinc<8.2.0,>=8.1.8->spacy<3.7.0,>=3.6.0->en-core-web-sm==3.6.0) (0.7.11)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in d:\new folder\lib\site-packages (from thinc<8.2.0,>=8.1.8->spacy<3.7.0,>=3.6.0->en-core-web-sm==3.6.0) (0.1.5)
Requirement already satisfied: colorama in d:\new folder\lib\site-packages (from tqdm<5.0.0,>=4.38.0->spacy<3.7.0,>=3.6.0->en-core-web-sm==3.6.0) (0.4.6)
Requirement already satisfied: click<9.0.0,>=7.1.1 in d:\new folder\lib\site-packages (from typer<0.10.0,>=0.3.0->spacy<3.7.0,>=3.6.0->en-core-web-sm==3.6.0) (8.1.7)
Requirement already satisfied: MarkupSafe>=2.0 in d:\new folder\lib\site-packages (from jinja2->spacy<3.7.0,>=3.6.0->en-core-web-sm==3.6.0) (2.1.3)
Requirement already satisfied: marisa-trie>=0.7.7 in d:\new folder\lib\site-packages (from language-data>=1.2->langcodes<4.0.0,>=3.2.0->spacy<3.7.0,>=3.6.0->en-core-web-sm==3.6.0) (1.2.1)
✔ Download and installation successful
You can now load the package via spacy.load('en_core_web_sm')

2024-10-18 13:57:21.029418: I tensorflow/core/util/port.cc:113] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2024-10-18 13:57:22.414198: I tensorflow/core/util/port.cc:113] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.

hybrid

In [26]:
merged_dataset.head()

,id,brand_name,target_category,target_age,target_gender,target_location,Influencer_name,Followers,Category,audience_location,audience_age,audience_gender,Platform,Engagement_rate,Ratings,views,int_ratings
0,1,Brand72,Nutrition Products,15-24,Female,Kerala,Jane Doe,340770,Nutrition Products,Kerala,15-24,Male,TikTok,48.207237,4,7278548,1
1,2,Brand88,Smartphones,All,Male,Gujarat,Mia Lee,702603,Smartphones,Gujarat,All,All,Twitter,48.207237,1,6902850,0
2,3,Brand55,Home Appliances,18-30,Male,Kerala,John Smith,113855,Home Appliances,Kerala,18-30,Male,Instagram,47.116354,4,7947217,1
3,4,Brand84,Gadgets,15-24,Male,Kerala,Emma Taylor,202147,Gadgets,Kerala,15-24,All,Facebook,47.116354,1,1207655,0
4,5,Brand43,Home Appliances,40-50,All,Tamil Nadu,Mason White,495171,Home Appliances,Tamil Nadu,40-50,Female,Instagram,36.526283,2,7342663,0

In [27]:
merged_dataset = merged_dataset.applymap(lambda x: x.lower() if isinstance(x,str) else x)
merged_dataset['Ratings'] = merged_dataset['Ratings'].astype(str)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_18004\404446830.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  merged_dataset = merged_dataset.applymap(lambda x: x.lower() if isinstance(x,str) else x)

In [28]:
import spacy
from spacy.lang.en.stop_words import STOP_WORDS

nlp = spacy.load("en_core_web_sm")

def clean_and_extract_tags(text):
    doc = nlp(text.lower())
    tags = [token.text for token in doc if token.text.isalnum() and token.text not in STOP_WORDS]
    return ', '.join(tags)

columns_to_extract_tags_from = ['Category', 'audience_location', 'audience_age','audience_gender','Platform', 'Ratings']

for column in columns_to_extract_tags_from:
    merged_dataset[column] = merged_dataset[column].apply(clean_and_extract_tags)

In [29]:
# Concatenate the cleaned tags from all relevant columns
merged_dataset['Tags'] = merged_dataset[columns_to_extract_tags_from].apply(lambda row: ', '.join(row), axis=1)

In [30]:
merged_dataset.head()

,id,brand_name,target_category,target_age,target_gender,target_location,Influencer_name,Followers,Category,audience_location,audience_age,audience_gender,Platform,Engagement_rate,Ratings,views,int_ratings,Tags
0,1,brand72,nutrition products,15-24,female,kerala,jane doe,340770,"nutrition, products",kerala,"15, 24",male,tiktok,48.207237,4,7278548,1,"nutrition, products, kerala, 15, 24, male, tik..."
1,2,brand88,smartphones,all,male,gujarat,mia lee,702603,smartphones,gujarat,,,twitter,48.207237,1,6902850,0,"smartphones, gujarat, , , twitter, 1"
2,3,brand55,home appliances,18-30,male,kerala,john smith,113855,"home, appliances",kerala,"18, 30",male,instagram,47.116354,4,7947217,1,"home, appliances, kerala, 18, 30, male, instag..."
3,4,brand84,gadgets,15-24,male,kerala,emma taylor,202147,gadgets,kerala,"15, 24",,facebook,47.116354,1,1207655,0,"gadgets, kerala, 15, 24, , facebook, 1"
4,5,brand43,home appliances,40-50,all,tamil nadu,mason white,495171,"home, appliances","tamil, nadu","40, 50",female,instagram,36.526283,2,7342663,0,"home, appliances, tamil, nadu, 40, 50, female,..."

In [31]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

tfidf_vectorizer = TfidfVectorizer(stop_words='english')
tfidf_matrix_content = tfidf_vectorizer.fit_transform(merged_dataset['Tags'])
cosine_similarities_content = cosine_similarity(tfidf_matrix_content,tfidf_matrix_content)

search based

In [32]:
def search_similar_items(user_input, merged_dataset, tfidf_vectorizer, tfidf_matrix_content, top_n=10):
    # Vectorize the user input
    user_input_tfidf = tfidf_vectorizer.transform([user_input])

    # Compute cosine similarity between user input and the existing items
    cosine_similarities = cosine_similarity(user_input_tfidf, tfidf_matrix_content).flatten()

    # Get the indices of the top N most similar items
    similar_item_indices = cosine_similarities.argsort()[-top_n:][::-1]

    # Extract the most similar items' details
    similar_items = merged_dataset.iloc[similar_item_indices][['Influencer_name', 'Category',  'audience_location', 'audience_age', 'audience_gender', 'Platform', 'int_ratings']]
    
    
    
    # Print the results in table format
    print(similar_items.to_string(index=False))  # Display the table without index numbers

    return similar_items

# Example usage:
user_input = " Home Appliances , Tamil Nadu"  # User provides tags
similar_items = search_similar_items(user_input, merged_dataset, tfidf_vectorizer, tfidf_matrix_content, top_n=5)

Influencer_name         Category audience_location audience_age audience_gender  Platform  int_ratings
    lucas brown home, appliances       tamil, nadu                       female   youtube            1
    mason white home, appliances       tamil, nadu                         male  facebook            1
  sophia wilson home, appliances       tamil, nadu       18, 25                   twitter            1
         sujeet home, appliances       tamil, nadu       18, 28                 instagram            0
        amitabh home, appliances       tamil, nadu       25, 40          female  facebook            1

In [33]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Sample merged data (replace this with your actual merged_dataset)


# Preview the interaction matrix
# print("Interaction Matrix:")
# print(interaction_data)

# 2. Compute Item-Based Collaborative Filtering
item_similarity = cosine_similarity(interaction_data.T)
item_similarity_df = pd.DataFrame(item_similarity, index=interaction_data.columns, columns=interaction_data.columns)

# Preview item similarity matrix
# print("\nItem Similarity Matrix:")
# print(item_similarity_df)

# 3. Content-Based Similarity
tfidf_vectorizer = TfidfVectorizer(stop_words='english')
tfidf_matrix_content = tfidf_vectorizer.fit_transform(merged_dataset['Tags'])
cosine_similarities_content = cosine_similarity(tfidf_matrix_content, tfidf_matrix_content)

def search_similar_items_content(user_input, merged_data, tfidf_vectorizer, tfidf_matrix_content, top_n=5):
    user_input_tfidf = tfidf_vectorizer.transform([user_input])
    cosine_similarities = cosine_similarity(user_input_tfidf, tfidf_matrix_content).flatten()
    similar_item_indices = cosine_similarities.argsort()[-top_n:][::-1]
    return merged_dataset.iloc[similar_item_indices]

# Example user input for content-based search
user_input_content = "youtube, kerela, Male"
similar_items_content = search_similar_items_content(user_input_content, merged_dataset, tfidf_vectorizer, tfidf_matrix_content, top_n=6)
# print("\nContent-Based Recommendations:")
# print(similar_items_content[['Influencer_name', 'Tags', 'Interaction']].to_string(index=False))

# 4. Recommend Similar Influencers based on collaborative filtering
def recommend_similar_influencers(influencer_name, item_similarity_df, top_n=6):
    if influencer_name not in item_similarity_df.index:
        return pd.DataFrame()
    
    influencer_similarities = item_similarity_df[influencer_name].sort_values(ascending=False)
    influencer_similarities = influencer_similarities.drop(labels=[influencer_name])
    return influencer_similarities.head(top_n)

# Example usage for collaborative filtering
collab_influencers = recommend_similar_influencers('Influencer_A', item_similarity_df, top_n=5)
# print("\nCollaborative Filtering Recommendations:")
# print(collab_influencers)

# 5. Merge Recommendations
# For demonstration, let's assume we want to merge the content and collaborative recommendations
merged_recommendations = pd.concat([similar_items_content[['Influencer_name', 'Category',  'audience_location', 'audience_age', 'audience_gender', 'Platform', 'Interaction']],
                                     collab_influencers.reset_index().rename(columns={'index': 'Influencer_name', 0: 'Collaborative_Similarity'})], 
                                    ignore_index=True)

print("\nMerged Recommendations:")
print(merged_recommendations)

merged_recommendations.to_csv('results.csv')

KeyError: "['Interaction'] not in index"

LightGBM

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import lightgbm as lgb
from sklearn.metrics import accuracy_score

# Load your dataset
# file_path = 'your_dataset_path.csv'  # Update with your actual file path
df = pd.read_csv("D:\\infominez\PaidPromo_recom\\git_clone\\recommendation_sys\\merged_data.csv")

df.head()

,id,brand_name,target_category,target_age,target_gender,target_location,Influencer_name,Followers,Category,audience_location,audience_age,audience_gender,Platform,Engagement_rate,Ratings,views
0,1,Brand72,Nutrition Products,15-24,Female,Kerala,Jane Doe,340770,Nutrition Products,Kerala,15-24,Male,TikTok,48.207237,2,4732954
1,2,Brand88,Smartphones,All,Male,Gujarat,Mia Lee,702603,Smartphones,Gujarat,All,All,Twitter,48.207237,4,6259755
2,3,Brand55,Home Appliances,18-30,Male,Kerala,John Smith,113855,Home Appliances,Kerala,18-30,Male,Instagram,47.116354,4,6719563
3,4,Brand84,Gadgets,15-24,Male,Kerala,Emma Taylor,202147,Gadgets,Kerala,15-24,All,Facebook,47.116354,5,9085743
4,5,Brand43,Home Appliances,40-50,All,Tamil Nadu,Mason White,495171,Home Appliances,Tamil Nadu,40-50,Female,Instagram,36.526283,3,6855563

In [2]:
df.info

<bound method DataFrame.info of         id brand_name      target_category target_age target_gender  \
0        1    Brand72   Nutrition Products      15-24        Female
1        2    Brand88          Smartphones        All          Male
2        3    Brand55      Home Appliances      18-30          Male
3        4    Brand84              Gadgets      15-24          Male
4        5    Brand43      Home Appliances      40-50           All
...    ...        ...                  ...        ...           ...
1595  1596   Brand146  Fashion Accessories      18-30           All
1596  1597   Brand107      Gaming Products      22-40        Female
1597  1598   Brand149   Eco-friendly Goods        All          Male
1598  1599   Brand125          Smartphones      18-30           All
1599  1600   Brand119  Fashion Accessories      15-24           All

     target_location         Influencer_name  Followers            Category  \
0             Kerala                Jane Doe     340770  Nutrition Products
1            Gujarat                 Mia Lee     702603         Smartphones
2             Kerala              John Smith     113855     Home Appliances
3             Kerala             Emma Taylor     202147             Gadgets
4         Tamil Nadu             Mason White     495171     Home Appliances
...              ...                     ...        ...                 ...
1595   Uttar Pradesh       Isabella Anderson     338287  Nutrition Products
1596       Karnataka                   Rohit     801403  Nutrition Products
1597     Maharashtra  Sanjay DuttAiden Smith     360266         Smartphones
1598  Madhya Pradesh                 Amitabh     230748     Home Appliances
1599           Delhi             Lucas Brown     856447         Smartphones

     audience_location audience_age audience_gender   Platform  \
0               Kerala        15-24            Male     TikTok
1              Gujarat          All             All    Twitter
2               Kerala        18-30            Male  Instagram
3               Kerala        15-24             All   Facebook
4           Tamil Nadu        40-50          Female  Instagram
...                ...          ...             ...        ...
1595     Uttar Pradesh        18-30          Female    Youtube
1596             Delhi        18-30             All     Tiktok
1597     Uttar Pradesh        18-30          Female    Youtube
1598        Tamil Nadu        25-40          Female   Facebook
1599         Karnataka        18-30             All  Instagram

      Engagement_rate  Ratings    views
0           48.207237        2  4732954
1           48.207237        4  6259755
2           47.116354        4  6719563
3           47.116354        5  9085743
4           36.526283        3  6855563
...               ...      ...      ...
1595         6.772122        3  8829689
1596         6.676725        1   108019
1597         6.676725        4  4556182
1598         6.671060        2    89439
1599         6.671060        5  6487951

[1600 rows x 16 columns]>

In [3]:
# Select the features and target
# Assuming 'int_ratings' is the target variable for this example
X = merged_dataset[['brand_name', 'target_category', 'target_age', 'target_gender',
        'target_location', 'Influencer_name', 'Followers', 'Category',
        'audience_location', 'audience_age', 'audience_gender', 'Platform',
        'Engagement_rate', 'views']]
y = merged_dataset[ 'Ratings']

# Preprocessing: Label Encoding for categorical columns
label_cols = ['brand_name', 'target_category', 'target_age', 'target_gender',
              'target_location', 'Influencer_name', 'Category', 'audience_location',
              'audience_age', 'audience_gender', 'Platform']

# Apply LabelEncoder for categorical features
label_encoders = {}
for col in label_cols:
    le = LabelEncoder()
    X[col] = le.fit_transform(X[col])
    label_encoders[col] = le  # Save encoder for future use

NameError: name 'merged_dataset' is not defined

In [47]:
# Split the dataset into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [4]:
from sklearn.svm import SVC
svm_clf = SVC(kernel='rbm', random_state=42)  # You can change kernel to 'rbf' or others
svm_clf.fit(X_train, y_train)

# Predict on the test set using SVM
y_pred_svm = svm_clf.predict(X_test)

# Evaluate SVM model accuracy
svm_accuracy = accuracy_score(y_test, y_pred_svm)
print(f"SVM Accuracy: {svm_accuracy:.4f}")

NameError: name 'X_train' is not defined

In [50]:

# Initialize LightGBM Classifier
lgb_clf = lgb.LGBMClassifier(boosting_type='gbdt', objective='multiclass', num_class=len(df['Ratings'].unique()), random_state=42)

# Train the model
lgb_clf.fit(X_train, y_train)

# Predict on the test set
y_pred = lgb_clf.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.4f}")

[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000065 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1021
[LightGBM] [Info] Number of data points in the train set: 1280, number of used features: 14
[LightGBM] [Info] Start training from score -1.629162
[LightGBM] [Info] Start training from score -1.669818
[LightGBM] [Info] Start training from score -1.467640
[LightGBM] [Info] Start training from score -1.649284
[LightGBM] [Info] Start training from score -1.645227
Accuracy: 0.2188