recommendation sys

In [2]:
import numpy as np
import pandas as pd

In [3]:
brand_data = pd.read_csv("brand_dataset.csv")
influencer_data = pd.read_csv("influencer_dataset.csv")

In [4]:
brand_data.head()

,brand_id,brand_name,product_category,audience_age,audience_gender,audience_location
0,1,Brand72,Nutrition Products,15-24,Female,Kerala
1,2,Brand88,Smartphones,All,Male,Gujarat
2,3,Brand55,Home Appliances,18-30,Male,Kerala
3,4,Brand84,Gadgets,15-24,Male,Kerala
4,5,Brand43,Home Appliances,40-50,All,Tamil Nadu

In [5]:
brand_data['brand_name'].unique

<bound method Series.unique of 0      Brand72
1      Brand88
2      Brand55
3      Brand84
4      Brand43
        ...
595     Brand8
596    Brand80
597    Brand29
598     Brand7
599    Brand89
Name: brand_name, Length: 600, dtype: object>

In [6]:
influencer_data["Influencer Name"].unique

<bound method Series.unique of 0          Liam Brown
1      Isabella Moore
2        Olivia Clark
3          John Smith
4         Emma Taylor
            ...
595     Sophia Wilson
596        Noah Davis
597    Isabella Moore
598        Noah Davis
599        Noah Davis
Name: Influencer Name, Length: 600, dtype: object>

In [12]:
influencer_data.head()

,Influencer_ID,Influencer Name,Handle,Followers,Posts,Likes,Category,Sentiment,Location,Engagement Rate
0,1,Liam Brown,@sophia.w,662606,445,22863,Gaming,Positive,Kerala,3.450467
1,2,Isabella Moore,@isabella.m,198089,595,46116,Travel,Neutral,Gujarat,23.280445
2,3,Olivia Clark,@isabella.m,581816,679,15803,Music,Positive,Kerala,2.716151
3,4,John Smith,@olivia.c,560060,702,19824,Fitness,Negative,Kerala,3.539621
4,5,Emma Taylor,@jane.doe,273159,672,6424,Photography,Negative,Tamil Nadu,2.351744

In [15]:
brand_data.isnull().sum()

brand_id             0
brand_name           0
product_category     0
audience_age         0
audience_gender      0
audience_location    0
dtype: int64

In [14]:

influencer_data.isnull().sum()

Influencer_ID      0
Influencer Name    0
Handle             0
Followers          0
Posts              0
Likes              0
Category           0
Sentiment          0
Location           0
Engagement Rate    0
dtype: int64